@mixin main-copy {
  @media(min-width: $screen-xs-min) {
    font-size: 20px;
  }

  @media(min-width: $screen-xs-min) and (orientation:landscape) {
    font-size: $font-size-base;
  }

  @media(min-width: $screen-xs-landscape-min) and (orientation:landscape) {
    font-size: 17px;
  }

  @media(min-width: $screen-sm-min) {
    font-size: 20px;
  }

  @media(min-width: $screen-md-min) {
    font-size: 18px;
  }

  @media(min-width: $screen-lg-min) {
    font-size: 20px;
  }
}
