@mixin secondary-copy {
  @media(min-width: $screen-xs-min) {
    font-size: 16px;
  }

  @media(min-width: $screen-sm-min) {
    font-size: 17px;
  }

  @media(min-width: $screen-md-min) {
    font-size: 15px;
  }

  @media(min-width: $screen-lg-min) {
    font-size: 17px;
  }
}
