@mixin wf-fade-animation ($delay: .01s, $time: .25s) {
  .js & {
    opacity: 0;
  }
  .wf-active &, .wf-inactive &, .wf-fail & {
    opacity: 1;
  }
  .cssanimations.wf-active &, .cssanimations.wf-inactive &, .cssanimations.wf-fail & {
    opacity: 0;
    animation: wf-fade-animation $time ease-in $delay;
    animation-fill-mode: forwards;
  }
}

@keyframes wf-fade-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
