---
layout: base
---
<nav role="navigation" class="global-navbar top-of-screen">
  <div class="container">
    <a href="/" class="brand">
      <img src="/images/dc-logo.svg" class="img-responsive">
    </a>
    <ul class="global-nav">
      <li>
        <a href="/me/" class="item me{% if page.active_section == 'me' %} active{% endif %}{% if page.current_section == 'me' %} current{% endif %}">Me</a>
      </li>
      <li>
        <a href="/work/" class="item work{% if page.active_section == 'work' %} active{% endif %}{% if page.current_section == 'work' %} current{% endif %}">Work</a>
      </li>
      <li>
        <a href="/journal/" class="item journal{% if page.active_section == 'journal' %} active{% endif %}{% if page.current_section == 'journal' %} current{% endif %}">Journal</a>
      </li>
    </ul>
  </div>
</nav>

{% contentblock header %}

<div class="post-header-wrapper">
  <main>

    {{ content }}

  </main>
  <footer class="global-footer">
    <div class="container">
      <div class="global-footer-copyright">
        &copy; 2014
        <a href="/">Donna Carter</a>
      </div>
      <nav class="global-footer-nav">
        <li>
          <a href="https://uk.linkedin.com/in/donnamcarter" target="_blank" class="circle-icon outline">
            <i class="fa fa-linkedin"></i>
          </a>
        </li><li>
          <a href="https://twitter.com/le_beau" class="circle-icon outline" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li><li>
          <a href="mailto:me@donnacarter.co.uk?subject=Hi%20Donna" class="circle-icon outline">
            <i class="fa fa-envelope"></i>
          </a>
        </li>
      </nav>
    </div>
  </footer>
</div>
<div id="fb-root"></div>

<!-- build:js /js/main.js -->
<script src="/bower-components/jquery/dist/jquery.js"></script>
<script src="/bower-components/headroom.js/dist/headroom.js"></script>
<script src="/bower-components/headroom.js/dist/jQuery.headroom.js"></script>
<script src="/bower-components/jquery.debouncedresize/js/jquery.debouncedresize.js"></script>
<script src="/bower-components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="/js/constants.js"></script>
<script src="/js/tooltips.js"></script>
<script src="/js/raf-scroll.js"></script>
<script src="/js/global-navbar.js"></script>
<script src="/js/fix-header-height.js"></script>
<script src="/js/sticky-insert.js"></script>
<script src="/js/sticky-col.js"></script>
<script src="/js/texture-parallax.js"></script>
<script src="/js/title-fade.js"></script>
<script src="/js/touch-handler.js"></script>
<!-- endbuild -->
{% contentblock footer_scripts %}
