---
layout: sticky-insert-page
section_extra_classes: journal-post thin-right
active_section: journal
theme: teal
---
{% contentfor sub_title %}<time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%d.%m.%y" }}</time>{% endcontentfor %}
{% unless page.meta_description %}{% contentfor meta_description %}{% if page.description %}{{ page.description }}{% else %}{{ page.content | excerpt }}{% endif %}{% endcontentfor %}{% endunless %}

{% capture absolute_url %}{{ site.protocol }}://{{ site.host }}{{ page.url }}{% endcapture %}
{% contentfor canonical_url %}{{ absolute_url }}{% endcontentfor %}

{% contentfor meta_image %}{{ site.protocol }}://{{ site.host }}/images/fullsize/{% if page.meta_thumbnail %}{{ page.meta_thumbnail }}{% else %}{{ page.thumbnail }}{% endif %}{% endcontentfor %}

{% contentfor meta_og_type %}article{% endcontentfor %}

{% contentfor meta_og_article_tags %}
  <meta property="og:article:section" content="journal">
  <meta property="og:article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}">
  {% for tag in page.tags %}
    <meta property="og:article:tag" content="{{ tag }}">
  {% endfor %}
{% endcontentfor %}

{% contentfor meta_twitter_card %}summary_large_image{% endcontentfor %}

{% assign category = site.categories['journal'] %}
{% for post in site.categories['journal'] %}
  {% if post.path == page.path %}
    {% assign previous_index = forloop.index0|minus:1 %}
    {% assign next_index = forloop.index0|plus:1 %}
    {% if previous_index >= 0 and next_index >= 0 category[previous_index] and category[next_index] %}
      {% assign first_post = category[previous_index] %}
      {% assign second_post = category[next_index] %}
    {% elsif previous_index >= 0 category[previous_index] %}
      {% assign second_post = category[previous_index] %}
      {% assign previous_previous_index = forloop.index0|minus:2 %}
      {% assign first_post = category[previous_previous_index] %}
    {% elsif next_index >= 0 category[next_index] %}
      {% assign next_next_index = forloop.index0|plus:2 %}
      {% assign first_post = category[next_index] %}
      {% assign second_post = category[next_next_index] %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign previous_post = page|previous_in_category %}
{% assign next_post = page|previous_in_category %}
{% if previous_post and next_post %}
  {% assign first_post = previous_post %}
  {% assign second_post = next_post %}
{% elsif previous_post %}
  {% assign first_post = page|previous_previous_in_category %}
  {% assign second_post = previous_post %}
{% elsif next_post %}
  {% assign first_post = next_post %}
  {% assign second_post = page|next_next_in_category %}
{% endif %}

<article class="main-content">
  {{ content }}
</article>
<section class="post-meta sticky-insert-transplant" data-append=".journal-post .right-col">
  <ul class="post-tags tags-list">
    {% for tag in page.tags %}
      <li class="tag-item"><a href="/journal/tagged/{{ tag | slug }}/">#{{ tag | slug }}</a></li>
    {% endfor %}
  </ul>
  <ul class="post-share share-list">
    <li class="share-item">
      <a href="https://www.facebook.com/dialog/share?app_id=684345261634217&amp;display=page&amp;href={{ absolute_url | cgi_escape }}&amp;redirect_uri={{ absolute_url | cgi_escape }}"
         class="share-link circle-icon outline fb-share"
         data-fb-href="{{ absolute_url }}">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li class="share-item">
      <a href="https://twitter.com/intent/tweet?via=le_beau&amp;url={{ absolute_url | cgi_escape }}&amp;text={{ page.title | cgi_escape }}" class="share-link circle-icon outline">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
  </ul>
</section>

{% contentfor post_sticky %}
  {% if first_post and second_post %}
    <div class="basic-strip">
      <section class="more-content">
        <header class="more-content-header">
          <h3 class="more-content-header-title">More Posts</h3>
        </header>
        <div class="more-content-body">
          <div class="left-col">
            {% include journal-summary.html post=first_post extra_classes='post-summary-more' title_element='h4' %}
          </div>
          <div class="right-col">
            {% include journal-summary.html post=second_post extra_classes='post-summary-more' title_element='h4' %}
          </div>
        </div>
      </section>
    </div>
  {% endif %}
{% endcontentfor %}

{% contentfor footer_scripts %}
  <script src="/js/facebook.js"></script>
  <script src="//platform.twitter.com/widgets.js"></script>
{% endcontentfor %}
