---
layout: sticky-insert-page
active_section: journal
title: Journal
theme: teal
---
{% contentfor meta_title %}#{{ page.tag | slug }}{% endcontentfor %}
{% contentfor sub_title %}#{{ page.tag | slug }}{% endcontentfor %}

{% comment %}<p>{{ page.posts_count }} post{% unless page.posts_count == 1 %}s{% endunless %} tagged #{{ page.tag | slug }}.</p>{% endcomment %}
<ul class="journal-list{% if paginator.pages.total_pages > 1 %} with-pager{% endif %}">
  {% for post in paginator.posts %}
    <li class="journal-item">
      {% include journal-summary.html post=post %}
    </li>
  {% endfor %}
</ul>

{% include pager.html paginator=paginator theme=page.theme previous='Newer' next='Older' %}
