.hint-of-teal-theme {
  .circle-icon {
    &:focus, &:hover, &:active {
      border-color: $teal-bright;
      background-color: $teal-bright;
      &.outline {
        color: $teal-bright !important;
      }
    }
  }
}
