// bumping selector
.hint-of-salmon-theme.hint-of-salmon-theme {
  .global-footer {
    a {
      &:focus, &:hover, &:active {
        color: $lighter-salmon;
      }
      -webkit-tap-highlight-color: rgba($lighter-salmon, $tap-highlight-opacity);
    }
    .circle-icon {
      &:focus, &:hover, &:active, &.touched {
        border-color: $lighter-salmon;
        background-color: $lighter-salmon;
        &.outline {
          color: $lighter-salmon !important;
        }
      }
    }
  }
}
