// bumping selector
.hint-of-yellow-theme.hint-of-yellow-theme {
  .global-footer {
    a {
      &:focus, &:hover, &:active {
        color: $brighter-yellow;
      }
      -webkit-tap-highlight-color: rgba($brighter-yellow, $tap-highlight-opacity);
    }
    .circle-icon {
      &:focus, &:hover, &:active, &.touched {
        border-color: $brighter-yellow;
        background-color: $brighter-yellow;
        &.outline {
          color: $brighter-yellow !important;
        }
      }
    }
  }
}
