.journal-summary-more {
  @media (min-width: $screen-md-min) {
    .header, .journal-summary-content {
      margin-right: 220px + ($grid-basic-padding * 10);
    }
  }

  @media (min-width: $screen-lg-min) {
    font-size: $font-size-sm-boost;
    $image-width: 160px;
    min-height: $image-width;
    .header, .journal-summary-content {
      margin-right: $image-width + ($grid-basic-padding * 2);
    }

    .journal-summary-image-wrapper {
      width: $image-width;
    }
  }
}
