.left-sidebar.sticky-col {
  .sticky-insert {
    @media(min-width: $screen-md-min) {
      .side-title {
        margin-bottom: 0;
      }
      .side-sub-title {
        margin-top: $grid-basic-padding;
        margin-bottom: 0;
      }
    }
  }
}
