.teal-theme {
  .post-summary {
    .post-summary-title-link {
      color: white;
      transition: color .25s ease-in-out;
      &:hover, &:active, &:focus {
        color: $teal-dark-green;
      }
    }

    .post-summary-sub-title {
      color: $teal-darker;
    }

    .post-summary-content {
      color: $white-hint-of-teal;
    }
  }
}
