---
title:  "Three Sixty"
disciplines:
- Packaging
date:   2013-11-23 15:24:03
thumbnail: work/three-sixty/360-bags-thumb.jpg
---

<p class="intro">
	Something about Waitrose wanting a fresh, cool feeling range of coffee here...
</p>

<p>
  More text to go here as the intro...
</p>

{% include breakout-image-below-caption.html image_src='work/three-sixty/waitrose-threesixty.jpg' image_alt='The Waitrose ThreeSixty range' %}

<p>
	Text to go here explaining the concept of the coordinates.
</p>

{% include breakout-image-right-caption.html image_src='work/three-sixty/360-bags2.jpg' image_alt='A group photo of the ThreeSixty coffee range' caption='Something about the range to go here.' %}

{% include breakout-image-below-caption-pair.html image_1_src='work/three-sixty/bag.jpg' image_1_alt='A close up photo of the kraft bag' image_2_src='work/three-sixty/bag-macro.jpg' image_2_alt='A photo of the kraft bag' caption='The detail on the back of the kraft bag' %}

{% include breakout-image-right-caption.html image_src='work/three-sixty/360-backlabel.jpg' image_alt='The back of the bag' caption='Something about the back of the label to go here.' %}

{% include breakout-image-right-caption.html image_src='work/three-sixty/360-backlabel-macro.jpg' image_alt='Close up of the back of the label' %}

{% include breakout-image-right-caption.html image_src='work/three-sixty/360-label-macro.jpg' image_alt='The detail on the front label' caption='Something about the front label to go here.' %}

{% include breakout-image-right-caption.html image_src='work/three-sixty/360-label.jpg' image_alt='Photo of the label' %}


