---
title:  "Coopers"
disciplines:
- Branding
- Website
date:   2013-11-24 15:24:03
thumbnail: work/coopers/coopers-thumb.jpg
---

<p class="intro">
	Some text about the re-design to go here.
</p>

<p>
  more text to go here about Coopers re-brand...
</p>

{% include breakout-image-right-caption-pair.html image_1_src='work/coopers/coopers-cups.jpg' image_1_alt='Coopers branded takeaway cups' image_2_src='work/coopers/coopers-sugar.jpg' image_2_alt='Coopers branded sugar sticks' %}

<p>
  After a big re-brand Coopers decided it was time to redevelop their website. My role in this project was to design, develop and produce content for the site while colloborating with a developer for the back-end programming tasks.
</p>

{% include breakout-image-right-caption.html image_src='work/coopers/coopers-website-screens.jpg' image_alt='Coopers website on a variety of screens' caption='You can view the whole website at: <a href="http://www.cooperscoffee.co.uk">www.cooperscoffee.co.uk</a>' %}

<p>
  The site is designed to be minimal, spacious and suited to a variety of screen sizes. Since launch the site has been featured on a number of web design galleries.
</p>

{% include breakout-image-below-caption-pair.html image_1_src='work/coopers/coopers-homepage.jpg' image_1_alt='Coopers homepage' image_2_src='work/coopers/coopers-coffee-page.jpg' image_2_alt='Coopers coffee page' %}

