---
title:  "Startup Weekend"
disciplines:
- Promotional Materials
date:   2013-11-22 15:24:03
thumbnail: work/startup-weekend/sw-thumb.jpg
---

<p class="intro">
  <a href="http://startupweekend.org">Startup Weekend</a> is a weekend-long event where aspiring entrepreneurs come together to discuss their ideas and have the opportunity to meet some really inspirational people.
</p>

<p>
  I was asked by the event organisers of <a href="http://startupweekend.org">Startup Weekend</a> London to give their sponsorship document a revamp for the upcoming Mobile Edition event.
</p>

{% include breakout-image-below-caption.html image_src='work/startup-weekend/sw-page1.png' image_alt='A page from the sponsorship document' %}

{% include breakout-image-below-caption-pair.html image_1_src='work/startup-weekend/sw-page3.png' image_1_alt='A page detailing what Startup Weekend is all about' image_1_border=true image_2_src='work/startup-weekend/sw-page2.png' image_2_alt='A page giving more information about the mobile edition' image_2_border=true %}

<p>
  This document was needed to encourage large technology companies to sponsor the event, so really should look fantastic and show that Startup Weekend is worth sponsoring. There was a lot of important information to make visually attractive and easy to take in.
</p>

{% include breakout-image-right-caption.html image_src='work/startup-weekend/sw-page4.png' image_alt='A page from the document' caption='There was a lot of copy to fit on each page, so keeping it easy to read was crucial.' image_border=true %}

<p>
  Once the sponsorship document was completed I also designed brand assets for the event such as posters, t-shirts and web banners.
</p>

{% include breakout-image-right-caption-pair.html image_1_src='work/startup-weekend/sw-tshirt-macro.jpg' image_1_alt='Close up of the tshirt' image_2_src='work/startup-weekend/sw-tshirt-macro2.jpg' image_2_alt='Close up of the tshirt' %}

{% include breakout-image-right-caption.html image_src='work/startup-weekend/sw-banner.jpg' image_alt='The website banner' caption='A banner created for the website.' %}
