---
title:  "Debenhams"
description: "A series of works produced to introduce a refreshed approach to coffee in their in-store cafes"
disciplines:
- Poster Series
date:   2013-11-21 15:24:03
thumbnail: work/debenhams/deb-heart-thumb.jpg
---

<p class="intro">
  To showcase their new coffee offering <a href="https://www.debenhams.com" target="_blank">Debenhams</a> wanted a series of friendly and engaging posters. The posters were to be displayed in each of their in-store cafes.
</p>

<p>
  Debenhams wanted the posters to act as both an attractive piece of work for their wall and a way to introduce customers to their renewed approach to coffee.
  With this in mind I explored ideas that focussed on how much love, care and attention goes in to the entire coffee process.
</p>

{% include breakout-image-below-caption-pair.html image_1_src='work/debenhams/deb-poster1.jpg' image_1_alt='Hand picked poster artwork' image_2_src='work/debenhams/deb-poster2.jpg' image_2_alt='However you like it poster artwork' %}

{% include breakout-image-below-caption-pair.html image_1_src='work/debenhams/deb-poster3.jpg' image_1_alt='Grown and nurtured poster artwork' image_2_src='work/debenhams/deb-poster4.jpg' image_2_alt='Lovingly crafted poster artwork' %}

<p>
  I created simple, light hearted illustrations to visually represent the concepts in the text. A hand-written style font and a natural, but bright, palette were used to capture an organic &amp; friendly feel. Earthly colours were chosen to represent ethical sourcing of the beans and heartswere used to illustrate the care taken when brewing the coffee.
</p>

{% include breakout-image-right-caption.html image_src='work/debenhams/deb-heart.jpg' image_alt='Detail on the heart illustration' %}

{% include breakout-image-right-caption.html image_src='work/debenhams/deb-leaf.jpg' image_alt='Detail on the leaf illustration' %}

{% include breakout-image-right-caption-pair.html image_1_src='work/debenhams/deb-text.jpg' image_1_alt='Detail of the copy on a poster' image_2_src='work/debenhams/deb-bean.jpg' image_2_alt='Detail on the coffee bean illustration' %}

{% include breakout-image-right-caption.html image_src='work/debenhams/deb-photo.jpg' image_alt='A photo of the posters in a Debenhams cafe' caption='The posters on display in the newly refurbished cafe in Debenahms Oxford Street.' %}
