---
title:  "Make Decent Coffee"
disciplines:
- Exhibition
date:   2013-11-24 15:24:03
thumbnail: work/make-decent-coffee/mdc-thumb.jpg
---

{% include breakout-image-below-caption.html image_src='work/make-decent-coffee/mdc-main.jpg' image_alt='Make Decent Coffee at London Coffee Festival' %}

<p class="intro">
	This was a really fun but challenging project, Make Decent Coffee wanted an exhibition stand designing to promote their new e-commerce website. They had paid for a huge 10x6m spot at <a href="http://www.londoncoffeefestival.com" target="_blank">The London Coffee Festival</a> - wow.
</p>

<p>
  For those of you who have never heard about The London Coffee Festival, it is huge 4 day event in London. Over 20,000 coffee lovers go there every year, that is a lot of potential customers! It was crucial that the stand was engaging as possible, Make Decent Coffee wanted to be able to interact with the crowd and get them doing what their namesake says - Making Decent Coffee.
</p>

<p>
	I was lead designer on this project and I brought together my concept of turning the industrial space into a homely, quirky living area which would have live demonstrations on tables which would be in the centre of the stand. This would create the engagement with the visitors.
</p>
<p>
  I used illustrations which would be printed as vinyls, to add elements such as curtains, bookcases, shelves and lamps, then combined this with seating (there is never enough seating at these events) and screen-printed cushions. This helped to create a cool &amp; trendy looking space which stood out from the crowd.
</p>

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-photo-wall.jpg' image_alt='Photo of a wall display' caption='The feature wall which combines elaborate vinyl frames with photography printed on foamex panels. So much vinyl to stick to the wall...' %}

<p>
  There was a lot of large scale printing from various printers involved with this project, so that meant a lot of planning and co-ordinating to make sure everything was delivered on time.
</p>

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-table-edge.jpg' image_alt='The counter edges' caption='Edges of the counters which indicate the brewing method being taught on that table.' %}

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-jim.jpg' image_alt='Wall vinyl' caption='Lots of large scale vinyls that I applied to the walls - with the help of a very tall friend!' %}

{% include breakout-image-right-caption-pair.html image_1_src='work/make-decent-coffee/mdc-vinyl2.jpg' image_1_alt='Wall vinyl' image_2_src='work/make-decent-coffee/mdc-vinyl3.jpg' image_2_alt='Wall vinyl' %}

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-tamper.jpg' image_alt='Tamper wit the MDC logo engraved on the top' caption='Tampers were engraved with the MDC logo.' %}

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-flyers.jpg' image_alt='How to brew flyers' caption='There was also a whole range of printed materils that were required for the event too.' %}

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-shop.jpg' image_alt='The MDC shop' caption='A shop was also on the stand where people could buy a selection of equipment.' %}

<p>
  The stand was a complete success and was voted Favourite Key Feature (for the second year running) and Most Engaging Stand Experience in 2014.
</p>

{% include breakout-image-below-caption.html image_src='work/make-decent-coffee/mdc-busy-stand.jpg' image_alt='A busy stand' caption='The stand was constantly busy, watch the <a href="http://vimeo.com/96568774" target="_blank">2014 highlight video from London Coffee Festival</a>to see what happened on the stand.' %}




