---
title:  "London Coffee Guide"
disciplines:
- Adverts
date:   2013-11-20 15:24:03
thumbnail: work/london-coffee-guide/lcg-thumb2.jpg
---

{% include breakout-image-float-right-column.html image_src='work/london-coffee-guide/lcg-main.jpg' image_alt='Both of the London Coffee Guide books' caption='The London Coffee Guide is available to buy from <a href="http://www.waterstones.com/waterstonesweb/products/allegra+strategies/jeffrey+young/guy+simpson/the+london+coffee+guide+2014/10349937/">Waterstones</a> and most reputable coffee shops.' %}

<p class="intro">
  Some intro text to go here about the London Coffee Guide and where it is sold etc... Bacon ipsum dolor sit amet doner chuck venison jowl, tail shoulder shank. Boudin hamburger salami ham hock, meatball capicola bacon filet mignon.
</p>

<p>
  The United Coffee advert was printed in the 2012 edition and was to promote their place in the coffee industry. It was important to maintain brand consistency but also to design something that was eye-catching and playful.
</p>

{% include breakout-image-below-caption-pair.html image_1_src='work/london-coffee-guide/lcg-uc.jpg' image_1_alt='Close up of the UC advert' image_2_src='work/london-coffee-guide/lcg-uc2.jpg' image_2_alt='Close up of the UC advert' %}

<p>
  The Make Decent Coffee advert was printed in the 2013 edition. It was intended to introduce consumers to the new website, whilst also making them aware of what Make Decent Coffee is all about. Make Decent Coffee is a bold, playful brand which clearly shines through in the advert.
</p>

{% include breakout-image-below-caption.html image_src='work/london-coffee-guide/lcg-mdc.jpg' image_alt='A close up of the MDC advert' %}

{% include breakout-image-below-caption-pair.html image_1_src='work/london-coffee-guide/lcg-mdc3.jpg' image_1_alt='Close up of the MDC advert' image_2_src='work/london-coffee-guide/lcg-mdc2.jpg' image_2_alt='Close up of the MDC advert' %}
