---
title: Coopers
disciplines:
- Branding
- Website
description: With new owners and an expanded team Coopers was ready for a fresh branding and a modern website.
date:   2013-11-24 15:24:03
thumbnail: work/coopers/coopers-thumb.jpg
redirect_from:
- /work/coopers-rebrand/
---

{% include breakout-image-below-caption.html image_src='work/coopers/coopers-stationary.jpg' image_alt='Coopers stationary' %}

<p class="intro">
  After many years of the same branding, a change in management prompted a rebrand of Coopers.
  As a former employee I was really excited to be leading the project.
</p>

<p>
  The old Coopers branding felt outdated.
  It no longer represented the identity that we felt the company had.
  The challenge was to capture who Coopers were and what their offering was.
</p>

{% include breakout-image-right-caption.html image_src='work/coopers/coopers-logos.png' image_alt='Coopers logos' caption='On the left is the old Coopers old logo, the new Coopers logo is on the right.' %}

<p>
  We concluded that at it's core Coopers identity lied with it's staff and their relationships with customers.
  As a team they are friendly, approachable, reliable and fun.
  We tried to capture this in our use of typography, tone of voice and colour palette.
</p>

{% include breakout-image-right-caption.html image_src='work/coopers/coopers-business-card3.jpg' image_2_alt='Coopers business card detail' caption='The business cards were colour coded depending on the team members role.' %}

{% include breakout-image-right-caption.html image_src='work/coopers/coopers-concertina.jpg' image_alt='Coopers concertina unfolded' caption='A concertina style promotional piece that was designed to give potential customers a quick overview of Coopers.' %}

{% include breakout-image-below-caption-pair.html image_1_src='work/coopers/coopers-flyer.jpg' image_1_alt='Inside the Coopers concertina' image_2_src='work/coopers/coopers-flyer-inside.jpg' image_2_alt='Another spread in the concertina' %}

{% include breakout-image-below-caption-trio.html image_1_src='work/coopers/coopers-cups.jpg' image_1_alt='Coopers branded takeaway cups' image_2_src='work/coopers/coopers-sugar.jpg' image_2_alt='Coopers branded sugar sticks' image_3_src='work/coopers/coopers-letterhead.jpg' image_3_alt='Corner of Coopers letterhead paper' %}

<p>
  The next phase of the Coopers rebrand was redeveloping their website.
  I developed a content strategy with the goal of the website to be a useful information resource that encourages potential customers to make contact.
  The website was designed to work <a href="http://en.wikipedia.org/wiki/Responsive_web_design" target="_blank">responsively</a> so that it could be accessed from the many devices.
</p>

{% include breakout-image-right-caption.html image_src='work/coopers/coopers-website-screens.jpg' image_alt='Coopers website on a variety of screens' caption='The <a href="http://www.cooperscoffee.co.uk" target="_blank">Coopers website</a> works across a range of resolutions and devices' %}

<p>
  Since launch the website has been well received.
  It has seen an increase in traffic and a decrease in bounce rates (particuarly on mobile devices).
  Prior to the re-launch the site had very little mobile traffic, now it is over 50% mobile.
  The site was also featured on a number of web design inspiration websites.
</p>

{% include breakout-image-below-caption-pair.html image_1_src='work/coopers/coopers-homepage.jpg' image_1_alt='Coopers homepage' image_2_src='work/coopers/coopers-coffee-page.jpg' image_2_alt='Coopers coffee page' %}

