---
title:  "Startup Weekend"
disciplines:
- Promotional Materials
date:   2013-11-22 15:24:03
thumbnail: work/startup-weekend/sw-thumb.jpg
---

<p class="intro">
  I was asked by the event organisers of Startup Weekend London to design their new sponsorship document, the aim of which was to encourage large technology companies to sponsor the event.
</p>

<p>
  A bit more copy to go here...
</p>

{% include breakout-image-below-caption.html image_src='work/startup-weekend/sw-page1.png' image_alt='A pair of cute dogs' %}

{% include breakout-image-below-caption-pair.html image_1_src='work/startup-weekend/sw-page3.png' image_1_alt='Close up of the tshirt' image_1_border=true image_2_src='work/startup-weekend/sw-page2.png' image_2_alt='Close up of the tshirt' image_2_border=true %}

{% include breakout-image-below-caption.html image_src='work/startup-weekend/sw-page4.png' image_alt='A pair of cute dogs' image_border=true %}

<p>
  I also designed brand assets for the event such as posters, t-shirts and web banners.
</p>

{% include breakout-image-below-caption-pair.html image_1_src='work/startup-weekend/sw-tshirt-macro.jpg' image_1_alt='Close up of the tshirt' image_2_src='work/startup-weekend/sw-tshirt-macro2.jpg' image_2_alt='Close up of the tshirt' %}

{% include breakout-image-right-caption.html image_src='work/startup-weekend/sw-banner.jpg' image_alt='Cute dog with blue top' caption='A banner created for the website.' %}
