---
title:  "NYCC"
disciplines:
- Branding
- Packaging
date:   2013-11-24 15:24:03
thumbnail: work/nycc/nycc-thumb.jpg
---

<p class="intro">
	We were asked to submit some branding concepts for Peter Andre's new coffee shop venture, he had some very specific ideas in mind so we had the task of bringing his ideas to life. We submitted 6 concepts and mine was chosen to go forward with.
</p>

<p>
  I took the lead role on this project and started to develop my concept further. One of the guidlines we had been set was that the logo had to embody Peters love of New York City and it's history. It also had to be a very strong mark which could stand it's ground against chain coffee shops.
</p>

{% include breakout-image-right-caption.html image_src='work/nycc/nycc-ideas.jpg' image_alt='The chosen logo' caption='Initial logo concepts.' %}

<p>
  So my goal with the branding was to combine retro and modern in a way that embodies the culture of New York City. Creating a brand that was bold and modern.
</p>

{% include breakout-image-right-caption.html image_src='work/nycc/nycc-logo1.png' image_alt='The chosen logo' caption='The final logo and colour palette.' %}

<p>
	 I applied the brand to a wide variety of media including environment concepts, exterior signage, cups, sugar sticks, uniform and business cards.
</p>

{% include breakout-image-right-caption.html image_src='work/nycc/nycc-shop-front.jpg' image_alt='Front of the coffee shop' caption='I worked closely with the shopfitter to create the signage for the shop front.' %}

{% include breakout-image-right-caption.html image_src='work/nycc/nycc-cards.jpg' image_alt='NYCC business card and loyalty card' caption='Loyalty card and business card designs.' %}

{% include breakout-image-right-caption-pair.html image_1_src='work/nycc/nycc-card-front.jpg' image_1_alt='Front of the business card' image_2_src='work/nycc/nycc-card-back.jpg' image_2_alt='Back of the business card' %}

{% include breakout-image-right-caption-pair.html image_1_src='work/nycc/nycc-cups.jpg' image_1_alt='A couple of branded takeout cups' image_2_src='work/nycc/nycc-cup-macro.jpg' image_2_alt='The tagline on the side of the cup' caption='Takeout cups came in 3 different sizes, each size used a different colour from the colour palette along with a different tag line on the back.' %}

{% include breakout-image-right-caption.html image_src='work/nycc/nycc-cupcakes.jpg' image_alt='NYCC logo on cupcakes' %}

<p>
  Once two of the NYCC shops were opened I was asked to design some packaging for coffee that will be going into Tescos nationwide. NYCC would be working in partnership with <a href ="http://www.peterandrefoundation.com">The Peter Andre Foundation</a> and <a href="http://www.cancerresearchuk.org">Cancer Research UK</a>, a donation would go to these charities with every bag sold.
</p>

{% include breakout-image-below-caption.html image_src='work/nycc/nycc-bags.jpg' image_alt='NYCC bags of coffee' %}

<p>
  I had a very strict brief, a lot of copy and limitations which came with the packaging that was to be used. It was important to work closely with both charities to make sure they were happy with the design and use of their logos. Now the coffee is now available to buy at most <a href="http://www.tesco.com/groceries/product/search/default.aspx?searchBox=new+york+coffee+club&amp;newSort=true&amp;search=Search">Tescos</a> nationwide.
</p>

{% include breakout-image-right-caption.html image_src='work/nycc/nycc-side.jpg' image_alt='Side of the coffee bag' caption='The side of the bag was used to go into more detail about <a href ="http://www.peterandrefoundation.com">The Peter Andre Foundation</a> and <a href="http://www.cancerresearchuk.org">Cancer Research UK</a> &amp; where the donated money goes to.' %}

{% include breakout-image-right-caption-pair.html image_1_src='work/nycc/nycc-bag-top.jpg' image_1_alt='Detail on the top of the bag' image_2_src='work/nycc/nycc-back-macro.jpg' image_2_alt='Close up of the back of the bag' caption='There is a statement from Peter on the back of the bag.' %}

{% include breakout-image-right-caption.html image_src='work/nycc/nycc-foundation.jpg' image_alt='Cute dog with blue top' %}

{% include breakout-image-right-caption.html image_src='work/nycc/nycc-label.jpg' image_alt='Coffee bag label' caption='Labels were used on the front which contained the coffee information. This then makes it easier to change the coffee if they wanted to, as labels are cheaper to produce than the whole laminate.' %}



