---
title:  "Make Decent Coffee"
disciplines:
- Exhibition
date:   2013-11-24 15:24:03
thumbnail: work/make-decent-coffee/mdc-thumb.jpg
---

<p class="intro">
	The aim of this project was to design an exhibition stand to promote a new e-commerce website. Put some more text here explaining what London coffee fest is about and the awards the stand has won.
</p>

<p>
  More text to go here as the intro...
</p>

{% include breakout-image-below-caption.html image_src='work/make-decent-coffee/mdc-main.jpg' image_alt='Make Decent Coffee at London Coffee Festival' %}

<p>
	I was lead designer and I brought together my concept of turning the industrial space into a homely, quirky living area.I used illustrations to add elements such as curtains, bookcases, shelves and lamps, then combined this with seating and screen-printed cushions.
</p>

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-table-edge.jpg' image_alt='The counter edges' caption='Edges of the counters which indicate the brewing method being taught on that table.' %}

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-photo-wall.jpg' image_alt='Photo of a wall display' caption='The feature wall which combines elaborate vinyl frames with photography printed on foamex panels.' %}

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-jim.jpg' image_alt='Wall vinyl' %}

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-vinyl.jpg' image_alt='Wall vinyl' %}

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-vinyl2.jpg' image_alt='Wall vinyl' %}

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-vinyl3.jpg' image_alt='Wall vinyl' %}

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-tamper.jpg' image_alt='Tamper wit the MDC logo engraved on the top' caption='Tampers were engraved with the MDC logo.' %}

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-cushion.jpg' image_alt='Cushions with the MDC logo on' caption='Specially printed cushions were available to purchase as well as sit on.' %}

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-flyers.jpg' image_alt='How to brew flyers' caption='There was also a whole range of printed materils that were required for the event too.' %}

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-shop.jpg' image_alt='The MDC shop' caption='A shop was also on the stand where people could buy a selection of equipment.' %}

{% include breakout-image-below-caption.html image_src='work/make-decent-coffee/mdc-busy-stand.jpg' image_alt='A busy stand' caption='The stand was constantly busy and a complete success, watch the <a href="http://vimeo.com/96568774">2014 highlight video from London Coffee Festival</a>' %}





