---
title: Three Sixty
description: A colourful range of premium coffees to be launched for retail.
disciplines:
- Packaging
date:   2013-11-23 15:24:03
thumbnail: work/three-sixty/360-bags-thumb.jpg
---

{% include breakout-image-below-caption.html image_src='work/three-sixty/waitrose-threesixty.jpg' image_alt='The Waitrose Three Sixty range' %}

<p class="intro">
	Three Sixty is a bold and adventurous range of premium coffees, all hand crafted and hand packed.
  Each coffee has it’s own set of co-ordinates which can be used to find the origin of the coffee on a map.
</p>

<p>
  The Three Sixty range was due to be launched in <a href="http://www.waitrose.com/">Waitrose</a>.
  My role was to design the retail packaging to fit the existing brand and concept.
</p>

{% include breakout-image-right-caption.html image_src='work/three-sixty/360-bags2.jpg' image_alt='A group photo of the ThreeSixty coffee range' caption='Each coffee in the range was represented with a bright colour.' %}

{% include breakout-image-right-caption-pair.html image_1_src='work/three-sixty/360-label-macro.jpg' image_1_alt='Close up of the front of the label' image_2_src='work/three-sixty/360-backlabel-macro.jpg' image_2_alt='Close up of the back of the label' %}

<p>
  I wanted to make a focal point of the co-ordinates of the label.
  I hoped that they would intrigue people into understanding their purpose and meaning, which would encourage them to explore the packaging further.
</p>

{% include breakout-image-right-caption.html image_src='work/three-sixty/360-label.jpg' image_alt='A close up of the coordinates on the front of the label' caption='The co-ordinates are <a href="https://www.google.co.uk/maps/place/2%C2%B032%2713.0%22N+75%C2%B032%2717.0%22W/@2.5369444,-75.5380556,8z/">2°32&#39;13.0&quot;N 75°32&#39;17.0&quot;W</a>' %}

{% include breakout-image-right-caption-pair.html image_1_src='work/three-sixty/bag.jpg' image_1_alt='A close up photo of the kraft bag' image_2_src='work/three-sixty/bag-macro.jpg' image_2_alt='A photo of the kraft bag' caption='The back of the kraft bag was printed with additional information.' %}

{% include breakout-image-right-caption.html image_src='work/three-sixty/360-backlabel.jpg' image_alt='The complete back of the label and bag' %}

