---
title:  "Coopers"
disciplines:
- Branding
- Website
date:   2013-11-24 15:24:03
thumbnail: work/coopers/coopers-thumb.jpg
redirect_from:
- /work/coopers-rebrand/
---

<p class="intro">
	When UCC Coffee brought Coopers under their wing, they decided it would be a great idea to give them a face lift. As a former employee of Coopers I was really excited to be leading the development of the rebrand.
</p>

<p>
  The old Coopers branding felt outdated, it didn't really represent how Coopers wanted to appear as a company. The challenge was to create a new identity for Coopers that would help them be a fun, friendly and approachable company, giving them a fresh lease of life.
</p>

{% include breakout-image-right-caption.html image_src='work/coopers/coopers-logos.png' image_alt='Coopers logos' caption='On the left is the old Coopers old logo, the new Coopers logo is on the right.' %}

<p>
  Once the brand guidelines had been completed it was time to apply this to various mediums such as the new office environment, stationary, packaging, canvas’ and various promotional materials.
</p>

{% include breakout-image-right-caption.html image_src='work/coopers/coopers-stationary.jpg' image_alt='Coopers stationary' %}

{% include breakout-image-right-caption.html image_src='work/coopers/coopers-business-card3.jpg' image_2_alt='Coopers business card detail' caption='The business cards were colour coded depending on the persons job role.' %}

{% include breakout-image-right-caption.html image_src='work/coopers/coopers-concertina.jpg' image_alt='Coopers concertina unfolded' caption='A small concertina style promotional piece was designed to give potential customers a quick overview of what Coopers is all about.' %}

{% include breakout-image-below-caption-pair.html image_1_src='work/coopers/coopers-flyer.jpg' image_1_alt='Inside the Coopers concertina' image_2_src='work/coopers/coopers-flyer-inside.jpg' image_2_alt='Another spread in the concertina' %}

{% include breakout-image-below-caption-trio.html image_1_src='work/coopers/coopers-cups.jpg' image_1_alt='Coopers branded takeaway cups' image_2_src='work/coopers/coopers-sugar.jpg' image_2_alt='Coopers branded sugar sticks' image_3_src='work/coopers/coopers-letterhead.jpg' image_3_alt='Corner of Coopers letterhead paper' %}

<p>
  After the big re-brand Coopers decided it was time to redevelop their website. My role in this project was to design, develop and produce content for the site while colloborating with a developer for the back-end programming tasks.
</p>

{% include breakout-image-right-caption.html image_src='work/coopers/coopers-website-screens.jpg' image_alt='Coopers website on a variety of screens' caption='You can view the whole website at: <a href="http://www.cooperscoffee.co.uk">www.cooperscoffee.co.uk</a>' %}

<p>
  The site is designed to be minimal, spacious and suited to a variety of screen sizes. Since launch the site has been featured on a number of web design galleries.
</p>

{% include breakout-image-below-caption-pair.html image_1_src='work/coopers/coopers-homepage.jpg' image_1_alt='Coopers homepage' image_2_src='work/coopers/coopers-coffee-page.jpg' image_2_alt='Coopers coffee page' %}

