---
title:  "London Coffee Guide"
description: "Promotional pieces that have been published in the definitive guide to London coffee shops."
disciplines:
- Adverts
date:   2013-11-20 15:24:03
thumbnail: work/london-coffee-guide/lcg-thumb2.jpg
---

{% include breakout-image-below-caption.html image_src='work/london-coffee-guide/lcg-uc3.jpg' image_alt='A close up of the UC advert' %}

{% include breakout-image-float-right-column.html image_src='work/london-coffee-guide/lcg-main.jpg' image_alt='Both of the London Coffee Guide books' caption='The London Coffee Guide is available to buy from book stores and independant coffee shops.' %}

<p class="intro">
  The London Coffee guide is the definitive guide to London's coffee shops, thousands of copies are sold every year to coffee enthusiasts.
  I was extremely excited to be designing an advert to go inside this fantastic, widely distributed book!
</p>

<p>
  The United Coffee advert was printed in the 2012 edition and was to promote their place in the coffee industry. It was important to maintain brand consistency but also to design something that was eye-catching and playful.
</p>

{% include breakout-image-right-caption.html image_src='work/london-coffee-guide/lcg-uc-page.jpg' image_alt='The whole UC advert' %}

{% include breakout-image-right-caption-pair.html image_1_src='work/london-coffee-guide/lcg-uc4.jpg' image_1_alt='Close up of the UC advert' image_2_src='work/london-coffee-guide/lcg-uc2.jpg' image_2_alt='Close up of the UC advert' %}

<p>
  The Make Decent Coffee advert was printed in the 2013 edition. It was intended to introduce consumers to both the website and the underlying manifesto behind the brand.
</p>

{% include breakout-image-right-caption.html image_src='work/london-coffee-guide/lcg-mdc-page.jpg' image_alt='The whole MDC advert' %}

{% include breakout-image-right-caption.html image_src='work/london-coffee-guide/lcg-mdc.jpg' image_alt='A close up of the MDC advert' caption='A feature was made of the award Make Decent Coffee won at London Coffee Festival' %}

{% include breakout-image-right-caption-pair.html image_1_src='work/london-coffee-guide/lcg-mdc3.jpg' image_1_alt='Close up of the MDC advert' image_2_src='work/london-coffee-guide/lcg-mdc2.jpg' image_2_alt='Close up of the MDC advert' %}
