---
title:  "Debenhams"
disciplines:
- Poster Series
date:   2013-11-21 15:24:03
thumbnail: work/debenhams/deb-heart-thumb.jpg
---

<p class="intro">
  To showcase their new coffee offering Debenhams wanted a series of friendly and engaging posters. The four posters are then to be used in all of their in-store cafes.
</p>

<p>
  Debenhams wanted to go for a colourful and illustrative approach, something new and fresher feeling which really talked about the coffee. With this in mind I started playing around with ideas which focussed on how much love, care and attention goes in to the growing &amp; making the coffee.
</p>

{% include breakout-image-below-caption-pair.html image_1_src='work/debenhams/deb-poster1.jpg' image_1_alt='Cute dog with present' image_2_src='work/debenhams/deb-poster2.jpg' image_2_alt='Cute cocker spaniel' %}

{% include breakout-image-below-caption-pair.html image_1_src='work/debenhams/deb-poster3.jpg' image_1_alt='Cute dog with present' image_2_src='work/debenhams/deb-poster4.jpg' image_2_alt='Cute cocker spaniel' %}

<p>
  I created simple, light hearted illustrations to visually represent the concepts in the text. A hand-written style font and a natural but bright palette were used to capture an organic &amp; friendly feel, which represents the ethical sourcing of the beans as well as the care that is taken when brewing the coffee.
</p>

{% include breakout-image-right-caption.html image_src='work/debenhams/deb-heart.jpg' image_alt='Detail on the heart illustration' %}

{% include breakout-image-right-caption.html image_src='work/debenhams/deb-leaf.jpg' image_alt='Detail on the leaf illustration' %}

{% include breakout-image-right-caption-pair.html image_1_src='work/debenhams/deb-text.jpg' image_1_alt='Detail on the heart illustration' image_2_src='work/debenhams/deb-bean.jpg' image_2_alt='Detail on the leaf illustration' %}

{% include breakout-image-right-caption.html image_src='work/debenhams/deb-photo.jpg' image_alt='A photo of the posters in a Debenhams cafe' caption='The posters on display in the newly refurbished cafe in Debenahms Oxford Street.' %}
