---
title:  "Orang Utan Coffee"
disciplines:
- Packaging
date:   2013-11-23 15:24:03
thumbnail: work/orang-utan/orangutan-thumb.jpg
---

<p class="intro">
	The Sumatran orangutan is under threat of extinction through mass deforestation, the <a href="http://www.orang-utan-coffee.ch">Orang Utan Coffee Project</a> encourages smallholders and their farming communities to cultivate their plantations sustainably and to commit to the preservation of the Rainforest.
</p>

<p>
  Waitrose have got on board with this project and wanted the coffee available throughout their stores. Using the Orang Utan Coffee brand guidelines I designed a premium and simple bag which would sit nicely on the shelves at Waitrose.
</p>

{% include breakout-image-below-caption.html image_src='work/orang-utan/ou-bags-main.jpg' image_alt='Orangutan coffee bag' %}

{% include breakout-image-right-caption-pair.html image_1_src='work/orang-utan/ou-bag-front.jpg' image_1_alt='Front of the bag' image_2_src='work/orang-utan/ou-front-macro.jpg' image_2_alt='Close up of the front of the bag' %}

{% include breakout-image-right-caption.html image_src='work/orang-utan/ou-side-macro.jpg' image_alt='Close up of the orange detail on the bag' caption='I used the orangutan shape from the logo to create a very subtle pattern on top of the orange side panels.' %}

{% include breakout-image-right-caption.html image_src='work/orang-utan/ou-side.jpg' image_alt='Close up of the instructions on the side of the bag' caption='All the mandatory information and directons for use were placed on the side of the bag, this was so the focus on the back would be purely about the <a href="http://www.orang-utan-coffee.ch">Orang Utan Coffee Project</a>.' %}

{% include breakout-image-right-caption.html image_src='work/orang-utan/ou-back-macro.jpg' image_alt='Close up of the instructions on the side of the bag' caption='Putting all the focus on what the <a href="http://www.orang-utan-coffee.ch">Orang Utan Coffee Project</a> is about so people know what they are supporting.' %}
