---
title:  "Three Sixty"
description: 'A colourful range of premium coffees to be launched for retail'
disciplines:
- Packaging
date:   2013-11-23 15:24:03
thumbnail: work/three-sixty/360-bags-thumb.jpg
---

{% include breakout-image-below-caption.html image_src='work/three-sixty/waitrose-threesixty.jpg' image_alt='The Waitrose Three Sixty range' %}

<p class="intro">
	Three Sixty is a bold and adventurous range of premium coffees, all hand crafted and hand packed.
  Each coffee has it’s own set of co-ordinates which can be used to find the origin of the coffee on a map.
</p>

<p>
  Three Sixty coffee was being launched in to Waitrose, so with the Three Sixty brand already established the main focus would be on the packaging.
</p>

{% include breakout-image-right-caption.html image_src='work/three-sixty/360-bags2.jpg' image_alt='A group photo of the ThreeSixty coffee range' %}

{% include breakout-image-right-caption-pair.html image_1_src='work/three-sixty/360-label-macro.jpg' image_1_alt='Close up of the front of the label' image_2_src='work/three-sixty/360-backlabel-macro.jpg' image_2_alt='Close up of the back of the label' caption='The labels had other information, like any certifications and brewing information.' %}

<p>
	It was important that the co-ordinates featured on the front of the label, this is such a big selling point for the brand and helps it stand out from the crowd. With this in mind I created a simple and modern design, which used a nice bold colour palette to represent each coffee.
</p>

{% include breakout-image-right-caption.html image_src='work/three-sixty/360-label.jpg' image_alt='A close up of the coordinates on the front of the label' %}

{% include breakout-image-right-caption-pair.html image_1_src='work/three-sixty/bag.jpg' image_1_alt='A close up photo of the kraft bag' image_2_src='work/three-sixty/bag-macro.jpg' image_2_alt='A photo of the kraft bag' caption='I used the back of the kraft bag to have all the important details such as where the coffee is roasted and company information. This was then printed in white on the bag itself.' %}

{% include breakout-image-right-caption.html image_src='work/three-sixty/360-backlabel.jpg' image_alt='The complete back of the label and bag' caption='The complete back label design that includes more information about the coffee and directions for use.' %}

