---
layout: work-post
title:  "Three Sixty"
disciplines: 
- Packaging
date:   2013-11-23 15:24:03
categories: work
permalink: /work/three-sixty.html
thumbnail: work/waitrose360/360-bags-thumb.jpg
---

<p class="intro">
	The aim of this project was to design an exhibition stand to promote a new e-commerce website. Put some more text here explaining what London coffee fest is about and the awards the stand has won.
</p>

<p>
  More text to go here as the intro...
</p>

{% include breakout-image-below-caption.html image_src='work/waitrose360/waitrose-threesixty.jpg' image_alt='The Waitrose ThreeSixty range' %}

<p>
	I was lead designer and I brought together my concept of turning the industrial space into a homely, quirky living area.I used illustrations to add elements such as curtains, bookcases, shelves and lamps, then combined this with seating and screen-printed cushions.
</p>

{% include breakout-image-right-caption.html image_src='work/waitrose360/360-bags2.jpg' image_alt='A group photo of the ThreeSixty coffee range' caption='Something about the range to go here.' %}

{% include breakout-image-right-caption.html image_src='work/waitrose360/bag.jpg' image_alt='A close up photo of the kraft bag' caption='Something about the kraft bag to go here.' %}

{% include breakout-image-right-caption.html image_src='work/waitrose360/bag-macro.jpg' image_alt='A photo of the kraft bag' %}

{% include breakout-image-right-caption.html image_src='work/waitrose360/360-backlabel.jpg' image_alt='The back of the bag' caption='Something about the back of the label to go here.' %}

{% include breakout-image-right-caption.html image_src='work/waitrose360/360-backlabel-macro.jpg' image_alt='Close up of the back of the label' %}

{% include breakout-image-right-caption.html image_src='work/waitrose360/360-label-macro.jpg' image_alt='The detail on the front label' caption='Something about the front label to go here.' %}

{% include breakout-image-right-caption.html image_src='work/waitrose360/360-label.jpg' image_alt='Photo of the label' %}


