---
title:  "NYCC"
disciplines:
- Branding
- Packaging
date:   2013-11-24 15:24:03
thumbnail: work/nycc/nycc-thumb.jpg
---

<p class="intro">
	I took the role of lead on this project after the client chose my logo concept, from a choice of 6 designs, as the basis of branding for his coffee shop - oh and did I mention the client was Peter Andre?!
</p>

<p>
  Some more text to go here.
</p>

{% include breakout-image-right-caption.html image_src='work/nycc/nycc-ideas.jpg' image_alt='The chosen logo' caption='Initial logo concepts.' %}

{% include breakout-image-right-caption.html image_src='work/nycc/nycc-logo1.png' image_alt='The chosen logo' caption='The final logo and colour palette.' %}

<p>
	My goal with the branding was to combine retro and modern in a way that embodies the culture of New York City. I applied the brand to a wide variety of media including environment concepts, exterior signage, cups, sugar sticks, uniform and business cards.
</p>

{% include breakout-image-right-caption.html image_src='work/nycc/nycc-shop-front.jpg' image_alt='Front of the coffee shop' %}

{% include breakout-image-right-caption-pair.html image_1_src='work/nycc/nycc-cups.jpg' image_1_alt='A couple of branded takeout cups' image_2_src='work/nycc/nycc-cup-macro.jpg' image_2_alt='The tagline on the side of the cup' %}

{% include breakout-image-right-caption.html image_src='work/nycc/nycc-cupcakes.jpg' image_alt='NYCC logo on cupcakes' %}

<p>
  Once two of the NYCC shops were opened I was asked to design some packaging for coffee that will be going into Tescos nationwide.
</p>

{% include breakout-image-below-caption.html image_src='work/nycc/nycc-bags.jpg' image_alt='NYCC bags of coffee' %}

{% include breakout-image-right-caption.html image_src='work/nycc/nycc-side.jpg' image_alt='Side of the coffee bag' %}

{% include breakout-image-right-caption-pair.html image_1_src='work/nycc/nycc-bag-top.jpg' image_1_alt='Detail on the top of the bag' image_2_src='work/nycc/nycc-back-macro.jpg' image_2_alt='Close up of the back of the bag' %}

{% include breakout-image-right-caption.html image_src='work/nycc/nycc-foundation.jpg' image_alt='Cute dog with blue top' caption='A cute dog from <a href="http://www.candogseat-this.com/cute-dogs-month-december/cute-dog-3/">candogseat-this.com</a>' %}

{% include breakout-image-right-caption.html image_src='work/nycc/nycc-label.jpg' image_alt='Coffee bag label' %}

<p>
  The coffee is now available to buy at most <a href="http://www.tesco.com/groceries/product/search/default.aspx?searchBox=new+york+coffee+club&newSort=true&search=Search">Tescos</a> nationwide.
</p>



