---
title:  "Orang Utan Coffee"
description: "A range of coffee for Waitrose to support the protection of the Sumatran orangutan"
disciplines:
- Packaging
date:   2013-11-23 15:24:03
thumbnail: work/orang-utan/orangutan-thumb.jpg
---

<p class="intro">
	The Sumatran Orangutan is under threat of extinction through mass deforestation.
  The <a href="http://www.orang-utan-coffee.ch" target="_blank">Orang Utan Coffee Project</a> encourages smallholders and their farming communities to cultivate their plantations sustainably and to commit to the preservation of the Rainforest.
</p>

<p>
  <a href="http://www.waitrose.com" target="_blank">Waitrose</a> chose to support this project by stocking the coffee across their stores. Using the Orang Utan Coffee brand guidelines My brief was to use the existing brand guidelines to design the retail packaging.
</p>

{% include breakout-image-below-caption.html image_src='work/orang-utan/ou-bags-main.jpg' image_alt='Orangutan coffee bag' %}

{% include breakout-image-right-caption-pair.html image_1_src='work/orang-utan/ou-bag-front.jpg' image_1_alt='Front of the bag' image_2_src='work/orang-utan/ou-front-macro.jpg' image_2_alt='Close up of the front of the bag' %}

{% include breakout-image-right-caption.html image_src='work/orang-utan/ou-side-macro.jpg' image_alt='Close up of the orange detail on the bag' caption='I used the orangutan shape from the logo to create a very subtle pattern on top of the orange side panels.' %}

{% include breakout-image-right-caption.html image_src='work/orang-utan/ou-side.jpg' image_alt='Close up of the instructions on the side of the bag' caption='All the mandatory information and directons for use were placed on the side of the bag, this was so the focus on the back would be dedicated to the project.' %}

{% include breakout-image-right-caption.html image_src='work/orang-utan/ou-back-macro.jpg' image_alt='Close up of the rear of the bag' %}
