---
title: Startup Weekend
description: Development of materials to promote the Startup Weekend Mobile Edition event to potential sponsors and attendees.
disciplines:
- Promotional Materials
date:   2013-11-22 15:24:03
thumbnail: work/startup-weekend/sw-thumb.jpg
---

{% include breakout-image-below-caption.html image_src='work/startup-weekend/sw-page1.png' image_alt='A page from the sponsorship document' %}

<p class="intro">
  <a href="http://startupweekend.org" target="_blank">Startup Weekend</a> is an event for aspiring entrepreneurs to come together and discuss their ideas. It provides mentorship, networking opportunties, and talks from inspirational people.
</p>

<p>
  The organisers of Startup Weekend London asked me to assist in the development of their promotional materials for their upcoming Mobile Edition event.
</p>

{% include breakout-image-below-caption-pair.html image_1_src='work/startup-weekend/sw-page3.png' image_1_alt='A page detailing what Startup Weekend is all about' image_1_border=true image_2_src='work/startup-weekend/sw-page2.png' image_2_alt='A page providing more information about the mobile edition' image_2_border=true %}

<p>
  I produced a sponsorship document, designed to encourage large technology companies to sponsor the event.
  It was important to present key facts in an easy to digest manner, while being visually attractive and consistent to the brand.
  From what I hear, they easily met their sponsorship goals.
</p>

{% include breakout-image-below-caption.html image_src='work/startup-weekend/sw-page4.png' image_alt='A page from the document' caption='There was a lot of copy to fit on each page, so keeping it easy to read was crucial.' image_border=true %}

<p>
  There was a run of t-shirts produced to my design in a variety of colours. These were given to attendees of the event. I also designed web and print adverts.
</p>

{% include breakout-image-right-caption-pair.html image_1_src='work/startup-weekend/sw-tshirt-macro.jpg' image_1_alt='Close up of the tshirt' image_2_src='work/startup-weekend/sw-tshirt-macro2.jpg' image_2_alt='Close up of the tshirt' %}

{% include breakout-image-right-caption.html image_src='work/startup-weekend/sw-banner.jpg' image_alt='The website banner' caption='A banner created to advertise the event on the broader Startup Weekend site' image_border=true %}
