---
title: "Logo Collection"
description: A range of coffee for Waitrose to support the protection of the Sumatran orangutan.
disciplines:
- Logo design
date: 2014-09-04 00:00:00
thumbnail: work/logos/logo-collection.jpg
---

<p class="intro">
  I love getting asked to design logos for branding projects. There is nothing more satisfying than getting a fresh sheet of paper &amp; a pen to sketch ideas for a new identity.
</p>

<p>
  When designing logos I try to really understand the brand and it’s attributes so that I can capture the essence within the logo. I tend to favour simple, bold and legible logos as I find these to be more memorable, but of course it always depends on the brand.
</p>

<p>
  These are a selection of logo concepts I have developed.
</p>

{% include breakout-image-right-caption.html image_src='work/logos/kiln.png' image_alt='Kiln Logo' caption='A work in progress logo concept for a passionate guy who wants to produce beautiful ceramics for the home, straight from the kiln.' %}

{% include breakout-image-right-caption.html image_src='work/logos/coopers-one.jpg' image_alt='Coopers logo concept' caption='A very early concept for the new Coopers Coffee logo trying to bring some focus on to the fact that Coopers have been around for a long time and are still going strong.' %}

{% include breakout-image-right-caption.html image_src='work/logos/coopers-two.jpg' image_alt='Second Coopers logo concept' caption='A second very early concept for the new Coopers Coffee logo. This one plays around with a more relaxed logo with an abstract mark that was based on latte art.' %}

{% include breakout-image-right-caption.html image_src='work/logos/css-espresso.png' image_alt='CSS Espresso Services' caption='CSS Espresso Services is a new business and they wanted clear and simple for their logo/brand identity.' %}

{% include breakout-image-right-caption.html image_src='work/logos/saras-flowers.png' image_alt='Logo concept for Saras Flowers' caption='Saras Flowers are a boutique flower shop based in Yorkshire, they were looking to update their logo so it had a more vintage feel to it. I chose a softer colour palette and also incorporated a pattern using a colour that would change depending on where it would be used.' %}

{% include breakout-image-right-caption.html image_src='work/logos/nycc.jpg' image_alt='New York Coffee Club' caption='A logo for a small coffee shop chain, you can read more about this on my <a href="http://donnacarter.design/work/nycc/">NYCC page</a>.' %}

{% include breakout-image-right-caption.html image_src='work/logos/boor-and-cooper.jpg' image_alt='Logo concept for Boor &amp; Cooper' caption='Very early Logo concept for Boor &amp; Cooper Investments Ltd.' %}

{% include breakout-image-right-caption.html image_src='work/logos/simplify.jpg' image_alt='Simplify' caption='Simplify Business Ltd were building a new website and decided they would like their logo updated too. I went for something a bit more stripped back and suggested a new colour palette which felt less primary than their existing colours.' %}

{% include breakout-image-right-caption.html image_src='work/logos/chaucer.jpg' image_alt='Chaucer Canterbury' caption='An initial concept for Chaucer Technical College Canterbury, they were looking to update their existing logo to something a bit more modern. Sadly this one wasn\'t quite right for them but I am still pretty pleased with the initial concept.' %}

