---
title: "Orang Utan Coffee"
description: A range of coffee for Waitrose to support the protection of the Sumatran orangutan.
disciplines:
- Packaging
date: 2014-09-05 00:00:00
thumbnail: work/orang-utan/orangutan-thumb.jpg
---

{% include breakout-image-below-caption.html image_src='work/orang-utan/ou-bags-main.jpg' image_alt='Orangutan coffee bag' %}

<p class="intro">
  The <a href="http://www.orang-utan-coffee.ch">Orang Utan Coffee Project</a> is an initiative to save the Sumatran orangutan from extinction. Money raised from the sales of the coffee is used to promote sustainable farming and preservation of the orangutans habitat, the rainforest.
</p>

<p>
  <a href="http://www.waitrose.com">Waitrose</a> chose to support this project by stocking the coffee across their stores. My brief was to use the existing brand guidelines to design the retail packaging.
</p>

{% include breakout-image-right-caption-pair.html image_1_src='work/orang-utan/ou-bag-front.jpg' image_1_alt='Front of the bag' image_2_src='work/orang-utan/ou-front-macro.jpg' image_2_alt='Close up of the front of the bag' %}

<p>
  I wanted the packaging to reflect the premium nature of the product within.
  To capture this I used a matte bag, a script font and included a number of subtle details into the design.
</p>

{% include breakout-image-right-caption.html image_src='work/orang-utan/ou-side-macro.jpg' image_alt='Close up of the orange detail on the bag' caption='I used the orangutan shape from the logo to create a very subtle pattern on top of the orange side panels.' %}

{% include breakout-image-right-caption.html image_src='work/orang-utan/ou-side.jpg' image_alt='Close up of the instructions on the side of the bag' caption='All the mandatory information and directons for use were placed on the side of the bag, this was so the focus on the back would be dedicated to the project.' %}

{% include breakout-image-right-caption.html image_src='work/orang-utan/ou-back-macro.jpg' image_alt='Close up of the rear of the bag' %}
