---
title: Make Decent Coffee
disciplines:
- Exhibition
description: An exhibition stand at the London Coffee Festival to promote making great coffee at home.
date: 2014-09-10 00:00:00
thumbnail: work/make-decent-coffee/mdc-thumb.jpg
redirect_from:
- /work/mdc-at-london-coffee-festival/
---

{% include breakout-image-below-caption.html image_src='work/make-decent-coffee/mdc-main.jpg' image_alt='Make Decent Coffee at London Coffee Festival' %}

<p class="intro">
  <a href="https://www.makedecentcoffee.com">Make Decent Coffee</a> is an e-commerce website UCC Coffee launched.
  It has the goal of making it super easy for people to make great coffee without the need for expensive equipment.
  To introduce the concept they had arranged for a 10x6m spot at <a href="http://www.londoncoffeefestival.com">The London Coffee Festival</a>.
</p>

<p>
  The London Coffee Festival is a 4 day event in London.
  Over 20,000 coffee lovers go there every year - that is a lot of potential customers!
  It was crucial that the stand was as engaging as possible.
  Make Decent Coffee wanted to be able to interact with the attendees and get them doing what their namesake says - Making Decent Coffee.
</p>

{% include breakout-image-below-caption-pair.html image_1_src='work/make-decent-coffee/mdc-vinyl2.jpg' image_1_alt='Wall vinyl' image_2_src='work/make-decent-coffee/mdc-vinyl3.jpg' image_2_alt='Wall vinyl' %}

<p>
	I was lead designer on this project.
  The concept was to apply a homely, living area feel to our industrial surroundings.
  In the centre there were to be tables with live demonstrations of coffee making techniques.
  This would be both engaging and educational for visitors.
</p>

<p>
  I used illustrations - printed as vinyls - to add elements such as curtains, bookcases, shelves and lamps.
  I then combined this with seating (there is never enough seating at these events) and screen-printed cushions.
  This helped to create a cool &amp; trendy looking space which stood out from the other stands.
</p>

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-photo-wall.jpg' image_alt='Photo of a wall display' caption='The feature wall which combines elaborate vinyl frames with photography printed on foamex panels.' %}

<p>
  I co-ordinated with a number of printing companies to ensure we had everything ready on time.
  We also used a bunch of IKEA furntiure, which meant a long morning of assembling flat pack furniture to get started.
</p>

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-table-edge.jpg' image_alt='The counter edges' caption='Edges of the counters indicate the brewing method being taught on that table.' %}

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-jim.jpg' image_alt='Wall vinyl' caption='Large scale vinyls were  applied to the walls by myself and a very tall friend!' %}

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-tamper.jpg' image_alt='Tamper wit the MDC logo engraved on the top' caption='Tampers were engraved with the Make Decent Coffee logo.' %}

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-flyers.jpg' image_alt='How to brew flyers' caption='A range of printed materials were produced for the event.' %}

<p>
  We ran a small shop for people to buy coffee equipment and Make Decent Coffee merchandise.
  This proved to be far more popular than we had anticipated, we had to work hard to keep up with the demand.
</p>

{% include breakout-image-right-caption.html image_src='work/make-decent-coffee/mdc-shop.jpg' image_alt='The MDC shop' caption='The shop wfully stocked at the start of the event.' %}

<p>
  The stand was very well received. We won two awards: Favourite Key Feature and Most Engaging Stand Experience.
</p>

{% include breakout-image-below-caption.html image_src='work/make-decent-coffee/mdc-busy-stand.jpg' image_alt='A busy stand' caption='The stand was constantly busy, watch the <a href="http://vimeo.com/107022215">2014 highlight video from London Coffee Festival</a> to see it in action.' %}





