---
title: "Bubble T at BHS"
description: A gift set range to be sold in BHS over the festive season.
disciplines:
- Packaging
date: 2015-09-13 00:00:00
thumbnail: work/bubble-t-bhs/bubble-t-macaroon-thumb.jpg
---

{% include breakout-image-below-caption.html image_src='work/bubble-t-bhs/bubble-t-group.jpg' image_alt='All of the Bubble T range for BHS' %}

<p class="intro">
  Bubble T Cosmetics are a vibrant and quirky bath &amp; body brand. They're known for their great smelling, tea themed products that look fantastic. BHS loved the brand and had asked Bubble T to create a gift set range that could be sold in their stores in the run up to Christmas.
</p>

<p>
  A total of three gift sets would be designed, these would include the classic fragrances and one limited edition fragrance exclusive to BHS. The products would be a shower gel bauble themed gift set, a macaroon lip balm gift set and a shower jelly gift set.
</p>

<p>
  Already a well-established brand, Bubble T has a fun and energetic feel to it. I wanted to use this opportunity to play with the existing conventions and make some subtle improvements. My challenge was to take the current brand &amp; packaging style and improve it.
</p>

<p>
  With this in mind, my designs focused on a few key improvements: Increase typographical legibility across the packaging by introducing a clearer visual hierarchy; de-cluttering the front of the packaging; improve spacing around the logo to give it more prominence.
</p>

<p>
  The range was a success and sold out in-store and online shortly after Christmas.
</p>

{% include breakout-image-below-caption-pair.html image_1_src='work/bubble-t-bhs/bubble-t-shower-jelly-macro2.jpg' image_1_alt='Close up of the corner of the shower jelly packaging' image_2_src='work/bubble-t-bhs/bubble-t-shower-jelly-macro3.jpg' image_2_alt='View of the top of one of the shower jelly pots' %}

{% include breakout-image-below-caption-trio.html image_1_src='work/bubble-t-bhs/bubble-t-shower-baubles.jpg' image_1_alt='Bubble T at BHS Shower Baubles close up' image_2_src='work/bubble-t-bhs/bubble-t-shower-baubles2.jpg' image_2_alt='Bubble T at BHS Shower Baubles close up of bauble' image_3_src='work/bubble-t-bhs/bubble-t-shower-jelly-macro4.jpg' image_3_alt='Bubble T at BHS Shower Jelly pots' %}

{% include breakout-image-below-caption-pair.html image_1_src='work/bubble-t-bhs/bubble-t-macaroon-lip-balm.jpg' image_1_alt='Bubble T at BHS macaroon lip balm packaging' image_2_src='work/bubble-t-bhs/bubble-t-macaroon-lip-balm2.jpg' image_2_alt='Bubble T at BHS macaroon lip balm packaging corner' %}
