---
title: "Kiln"
description: A gift set range to be sold in BHS over the festive season.
disciplines:
- Branding
date: 2016-03-24 00:00:00
thumbnail: work/kiln/kiln-thumb.png
---

{% include breakout-image-below-caption.html image_src='work/kiln/kiln-branding.jpg' image_alt='Kiln branding bits and bobs' %}

<p class="intro">
  Kiln are a small independent company who produce beautiful everyday ceramics for the home, straight from the kiln.
</p>

<p>
  Targeting a more creative audience who have a love for hand-crafted goods, Kiln appeal to the consumer who likes to take their time over a Sunday morning coffee and enjoy the simple things in life.
</p>

<p>
  My aim was to create a modern yet elegant identity that will complement the sophisticated pieces that have been carefully crafted in the kiln.
</p>

<p>
  The identity will need to capture the very essence of the kiln and represent this with a bold icon that would be just as recognisable on its own as it is with the word “Kiln”. So of course the first thing I did was get my sketchbook out and started to research kilns and their various shapes.
</p>

{% include breakout-image-right-caption.html image_src='work/kiln/kiln-concepts.jpg' image_alt='Some of my initial sketches for Kiln, playing around with different shapes based on actual Kilns.' caption='Some of my initial sketches for Kiln, playing around with different shapes based on actual Kilns.' %}

{% include breakout-image-right-caption.html image_src='work/kiln/kiln-logo.png' image_alt='Final logo' caption='The worked up, final version of the logo.' %}

<p>
  Using a subtle but adventurous colour palette the brand will combine colourful elements with natural textures and materials. This will give a distinct personality and feel to Kiln that represents the true craftsmanship and style of the brand.
</p>

{% include breakout-image-below-caption-pair.html image_1_src='work/kiln/kiln-logo-colours.png' image_1_alt='Cute dog with present' image_2_src='work/kiln/kiln-logo-colours-solid.png' image_2_alt='Cute cocker spaniel' caption='The colour palette and logo use with colours.' %}

<p>
  Using a subtle but adventurous colour palette the brand will combine colourful elements with natural textures and materials. This will give a distinct personality and feel to Kiln that represents the true craftsmanship and style of the brand.
</p>

{% include breakout-image-right-caption.html image_src='work/kiln/kiln-business-cards.jpg' image_alt='Kiln business cards' caption='Business card design.' %}




