---
title: "Havren SS16"
description: A gift set range to be sold in BHS over the festive season.
disciplines:
- Branding
- Website
date: 2016-04-07 00:00:00
thumbnail: work/havren/havren-thumb.jpg
---

{% include breakout-image-below-caption.html image_src='work/havren/havren-stationary.jpg' image_alt='Havren stationary mockup' %}

<p class="intro">
  <a href="https://www.havren.co.uk">Havren</a> are a women's fashion brand based in London. They specialise in occasion wear  that feature bold prints and flattering silhouettes to be worn together with delicate cover-ups.
</p>

<p>
  It was time to launch the new SS16 collection and they decided it was time to refresh the brand together with a new website to improve the online shopping experience making it more user friendly. My first challenge would be to re-establish Havren’s identity. With no brand guidelines, colour palettes or consistent font use, Havren seemed to have lost its identity over the years.
</p>

<p>
  There were two colours that Havren consistently used, a deep navy blue and a pale pink. I used these two colours as my starting point and expanded the colour palette by adding in some complementary colours to support the main pink and blue.
</p>

{% include breakout-image-below-caption.html image_src='work/havren/havren-colour-palette.png' image_alt='The new Havren colour palette for SS16' caption='The new Havren colour palette for SS16' %}

<p>
  My next step was to establish a font collection that best represented Havren and would be used consistently going forwards. A mixture of serif and sans serif fonts had been used in the past but I felt that the serif fonts clashed with the iconic logo. For this reason I went for a sans serif font for a more bold/modern approach.
</p>

{% include breakout-image-right-caption.html image_src='work/havren/havren-fonts.png' image_alt='The selected fonts for Havren' caption='Love these fonts too? Here is where you can find <a href="https://www.fontsquirrel.com/fonts/oswald">Oswald</a> and <a href="https://www.fontsquirrel.com/fonts/roboto">Roboto</a>.' %}

<p>
  These elements of the refreshed brand identity were then applied to various media, such as clothing labels, tags, bags, stationary (see top image) and everything else!
</p>

{% include breakout-image-right-caption.html image_src='work/havren/havren-clothing-tags.jpg' image_alt='Clothing tag design' caption='A design for the tag which will go inside the new SS16 clothing collection. The logo on the front of the tag would be embossed and have a spot varnish finish. The eyelet would be mettalic and match the blue from the colour palette.' %}

{% include breakout-image-right-caption.html image_src='work/havren/havren-magazine-advert.jpg' image_alt='Havren advert in a magazine' caption='A design concept for an advert to be placed in a fashion/lifestyle magazine.' %}

<p>
  The biggest challenge was the website, the current website didn't represent the brand or have any personality at all. It was another generic online shop. With a small team managing the website it was important that the new site be easy to manage/maintain as well as look fresh and exciting.
</p>

{% include breakout-image-right-caption.html image_src='work/havren/havren-old-website.jpg' image_alt='Old Havren Website Screenshot' caption='A screenshot of what the old Havren website used to look like.' image_border=true %}

<p>
  The decision was made to move the website to <a href="https://www.shopify.co.uk">Shopify</a> from <a href="https://magento.com">Magento</a>, Shopify is a much simpler platform and more appropriate to the needs of Havren and the team.
</p>

<p>
  Because time was very short I chose an off the shelf theme that I thought would best suit the brand and users. After much planning and working out the site plan, I then set about customising the chosen theme so it became the new <a href="https://www.havren.co.uk">Havren</a>.
</p>

{% include breakout-image-below-caption.html image_src='work/havren/havren-new-website.jpg' image_alt='The New Havren Website' caption='The new <a href="https://www.havren.co.uk">Havren Website</a>.' %}

