.media-caption {
  margin-bottom: $line-height-computed;
  .caption {
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    color: $light-medium-grey;
    font-style: italic;
    border-bottom: 1px dashed $light-grey;
  }
  .media-wrapper {
  }
  .media-image {
    @extend .img-responsive;
    margin: auto;
    &.media-image-with-border {
      border: 1px solid $light-grey;
    }
  }
  @media(min-width: $screen-xs-min) {
    font-size: 80%;
  }
}
