.more-content {
  .more-content-header {
    border-bottom: 4px solid $main-purple;
  }
  .more-content-body {
    @extend .row;
    .left-col, .right-col {
      @extend .col-lg-6;
      @include clearfix;
      margin: ($grid-basic-padding * 2) $grid-basic-padding;
      padding: 0;
    }
    .left-col {
      border-bottom: 1px solid $light-grey;
    }
    @media (min-width: $screen-lg-min) {
      .left-col {
        border-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        padding-right: $grid-basic-padding * 2;
        padding-left: $grid-basic-padding;
      }
      .right-col {
        border-left: 1px solid $light-grey;
        margin-right: 0;
        margin-left: 0;
        padding-left: $grid-basic-padding * 2;
        padding-right: $grid-basic-padding;
      }
    }
  }
}
