.post-summary {
  .body {
    @include clearfix();
  }

  .post-summary-image-wrapper {
    margin: auto;
    max-width: 290px;
    display: block;
    margin-bottom: $grid-basic-padding;
  }

  .post-summary-title {
    line-height: 1.4;
    margin: 0 0 0.5em;
    @include border-transition;
    font-size: 133.33%;
  }

  .post-summary-title-link {
    margin: -0.5em -0.25em;
    padding: 0.5em 0.25em;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }

  .post-summary-sub-title {
    margin-bottom: 1em;
    display: block;
    color: $dark-grey;
  }

  .post-summary-image {
    @include img-responsive();
  }

  .post-summary-content {
    margin: 0;
  }

  $image-width: 160px;
  @media (min-width: $screen-xs-min) {
    position: relative;
    min-height: $image-width;
    .header, .post-summary-content {
      margin-right: $image-width + $grid-basic-padding;
    }

    &.image-left {
      .header, .post-summary-content {
        margin-right: 0;
        margin-left: $image-width + $grid-basic-padding;
      }
    }

    .post-summary-image-wrapper {
      width: $image-width;
      height: $image-width;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }

    &.image-left .post-summary-image-wrapper {
      left: 0;
      right: auto;
    }
  }

  $image-width: 220px;
  @media (min-width: $screen-sm-min) {

    font-size: $font-size-sm-boost;
    min-height: $image-width;
    .header, .post-summary-content {
      margin-right: $image-width + ($grid-basic-padding * 2);
    }

    &.image-left {
      .header, .post-summary-content {
        margin-right: 0;
        margin-left: $image-width + ($grid-basic-padding * 2);
      }
    }

    .post-summary-image-wrapper {
      width: $image-width;
      height: $image-width;
    }
  }

  @media (min-width: $screen-lg-min) {
    font-size: $font-size-lg-boost;
    .header, .post-summary-content {
      margin-right: $image-width + ($grid-basic-padding * 4);
      .image-left & {
        margin-right: 0;
        margin-left: $image-width + ($grid-basic-padding * 4);
      }
    }
    &.image-left {
      .header, .post-summary-content {
        margin-right: 0;
        margin-left: $image-width + ($grid-basic-padding * 4);
      }
    }
  }
}
