.social-connect {
  margin-top: 0.5em;
  .social-connect-header {
    display: inline-block;
    margin: 0 0.75em 0 0;
    font-size: 160%;
  }

  .social-connect-list {
    @extend .list-inline;
    margin-top: 0.5em;
  }

  @media (min-width: $screen-xs-min) {
    .social-connect-list {
      font-size: 120%;
      display: inline-block;
      margin-top: 0;
    }
    .social-connect-icon {
      margin-top: -0.5em;
    }
  }
}
