.work-list {
  @extend .row;
  @extend .list-unstyled;
  overflow: hidden;
  margin-top: $grid-basic-padding * -1;
  .work-item {
    padding: $grid-basic-padding;
    @media (min-width: $screen-xs-min) {
      @include make-xs-column(6);
    }
    @media (min-width: $screen-lg-min) {
      @include make-xs-column(4);
    }
  }
}
