.work-square-link {
  width: 100%;
  min-height: 290px;
  position: relative;
  display: block;

  .work-square-image {
    @extend .img-responsive;
    width: 100%;
  }

  @media (min-width: $screen-xs-min) {
    min-height: 210px;
  }

  @media (min-width: $screen-sm-min) {
    width: 345px;
    .work-square-image {
      width: 345px;
      height: 345px;
    }
  }

  @media (min-width: $screen-md-min) {
    width: 334px;
    .work-square-image {
      width: 334px;
      height: 334px;
    }
  }

  @media (min-width: $screen-lg-min) {
    width: 262px;
    min-height: 262px;
    .work-square-image {
      width: 262px;
      height: 262px;
    }
  }

  .work-square-text {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    color: white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    padding: $grid-basic-padding * 1.5;
    padding-top: 20%;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    line-height: 1;
  }

  .work-square-title, .work-square-subtitle {
    margin: 0;
    opacity: 0.9;
    transition: opacity .25s ease-in-out;
    @include border-transition;
  }

  .work-square-title {
    font-size: 120%;
    display: inline;
    line-height: 1.5;
    padding-bottom: 0.2em;
    border-bottom: 3px solid transparent;
  }

  &:hover, &:focus, &:active {
    .work-square-title, .work-square-subtitle {
      opacity: 1;
    }
    .work-square-title {
      border-color: $salmon;
    }
  }

  .work-square-sub-title {
    font-size: 100%;
    font-family: $font-family-sans-serif;
    font-weight: normal;
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  @media(min-width: $screen-sm-min) {
    .work-square-title {
      font-size: 140%;
      border-bottom-width: 4px;
    }
    .work-square-sub-title {
      font-size: 110%;
    }
  }
}
