{% capture title_element %}{% if include.title_element %}{{ include.title_element }}{% else %}h3{% endif %}{% endcapture %}
<article class="post-summary {{ include.extra_classes }}">
  <header class="header">
    <{{title_element}} class="post-summary-title">
      <a href="{{ include.post.url }}" class="post-summary-title-link">
        {{ include.post.title }}
      </a>
    </{{title_element}}>
    <time class="post-summary-sub-title" datetime="{{ include.post.date | date: "%Y-%m-%d" }}">
      {{ include.post.date | date: "%d.%m.%y" }}
    </time>
  </header>
  <div class="body">
    {% if include.post.thumbnail %}
    <a href="{{ include.post.url }}" class="post-summary-image-wrapper">
      {% picture post_summary_thumbnail {{ include.post.thumbnail }} class="post-summary-image" alt="{{ include.post.thumbnail_alt }}" %}
    </a>
    {% endif %}
    <p class="post-summary-content">
      {% if include.post.description %}
        {{ include.post.description | truncate: 120 }}
      {% else %}
        {{ include.post.content | excerpt | truncate: 120 }}
      {% endif %}
    </p>
  </div>
</article>
