<article class="work-summary {{ include.extra_classes }}">
  <header class="header">
    <h4 class="work-summary-title">
      <a href="{{ include.post.url }}" class="work-summary-title-link">
        {{ include.post.title }}
      </a>
    </h4>
    <h5 class="work-summary-sub-title">
      {{ include.post.disciplines | join: ', ' }}
    </time>
  </header>
  <div class="body">
    {% if include.post.thumbnail %}
    <a href="{{ include.post.url }}" class="work-summary-image-wrapper">
      {% picture journal_thumbnail {{ include.post.thumbnail }} class="work-summary-image" alt="{{ include.post.thumbnail_alt }}" %}
    </a>
    {% endif %}
    <p class="work-summary-content">
      {% if include.post.description %}
        {{ include.post.description | truncate: 160 }}
      {% else %}
        {{ include.post.content | excerpt | truncate: 160 }}
      {% endif %}
    </p>
  </div>
</article>
