---
layout: header-page
title: Me
sub_title: An introduction to Donna Carter
meta_description: Meet Donna Carter, learn everything you've ever wanted to know about her... and then some more.
theme: yellow
active_section: me
current_section: me
---
<div class="basic-strip post-header">
  <section class="left-sidebar sticky-col">
    <div class="left-col stick">
      <div class="left-col-wrapper">
        <h3 class="side-title">In a nutshell</h3>
      </div>
    </div>
    <div class="right-col">
      <div class="content-list-box">
        <div class="content-list-box-col">
          <h4 class="icon-header content-list-header"><i class="fa fa-pencil"></i> Experience</h4>
          <ul class="content-list">
            <li class="content-list-item dash-list-item two-part-list-item">
              UCC Coffee <small>(2011 - Present)</small><br>
              <small class="sub-part">Graphic Designer</small>
            </li>
            <li class="content-list-item dash-list-item two-part-list-item">
              Coopers Coffee <small>(2007 - 2011)</small><br>
              <small class="sub-part">Graphic Designer</small>
            </li>
            <li class="content-list-item dash-list-item two-part-list-item">
              BA Graphic Design<br>
              <small class="sub-part">University of Huddersfield</small>
            </li>
            <li class="content-list-item dash-list-item two-part-list-item">
              National Diploma in Graphic Design<br>
              <small class="sub-part">York College</small>
            </li>
          </ul>
        </div>
        <div class="content-list-box-col">
          <h4 class="icon-header content-list-header"><i class="fa fa-rocket"></i> Expertise</h4>
          <ul class="content-list">
            <li class="content-list-item dash-list-item">Branding</li>
            <li class="content-list-item dash-list-item">Packaging</li>
            <li class="content-list-item dash-list-item">Typography</li>
            <li class="content-list-item dash-list-item">Digital Design</li>
            <li class="content-list-item dash-list-item">Print</li>
            <li class="content-list-item dash-list-item">Adobe Creative Suite</li>
            <li class="content-list-item dash-list-item">HTML &amp; CSS</li>
          </ul>
        </div>
      </div>
      <div class="content-list-box">
        <div class="content-list-box-col">
          <h4 class="icon-header content-list-header"><i class="fa fa-star"></i> Favourite</h4>
          <dl class="content-list content-list-qa">
            <dt class="content-list-question">Colour:</dt>
            <dd class="content-list-answer"><a href="http://www.pantone.co.uk/pages/pantone/colorfinder.aspx?c_id=8247" style="color: #693A77; font-weight: bold;">520 c</a></dd>
            <dt class="content-list-question">Font:</dt>
            <dd class="content-list-answer"><a href="https://www.google.com/fonts/specimen/Bitter" style="font-family: bitter, serif;">Bitter</a></dd>
            <dt class="content-list-question">Artist:</dt>
            <dd class="content-list-answer"><a href="http://en.wikipedia.org/wiki/Salvador_Dal%C3%AD">Salvador Dali</a></dd>
            <dt class="content-list-question">Museum:</dt>
            <dd class="content-list-answer"><a href="http://www.guggenheim.org/">Guggenheim</a></dd>
            <dt class="content-list-question">City:</dt>
            <dd class="content-list-answer"><a href="https://www.flickr.com/photos/donnacarter/sets/72157627635735669/">Paris</a></dd>
            <dt class="content-list-question">Website:</dt>
            <dd class="content-list-answer"><a href="http://www.thedieline.com/">The Dieline</a></dd>
            <dt class="content-list-question">Beer:</dt>
            <dd class="content-list-answer"><a href="http://brooklynbrewery.com">Brooklyn Lager</a></dd>
            <dt class="content-list-question">Food:</dt>
            <dd class="content-list-answer"><a href="http://www.misadventureswithandi.com/wp-content/uploads/2012/08/kasekrainer.jpg">Käse-Knacker</a></dd>
          </dl>
        </div>
        <div class="content-list-box-col">
          <h4 class="icon-header content-list-header"><i class="fa fa-clock-o"></i> Currently</h4>
          <dl class="content-list content-list-qa">
            <dt class="content-list-question">Reading:</dt>
            <dd class="content-list-answer"><a href="http://www.waterstones.com/waterstonesweb/products/stephen+king/mr+mercedes/10138197/" target="_blank">Mr Mercedes</a> by Stephen King</dd>
            <dt class="content-list-question">Watching:</dt>
            <dd class="content-list-answer"><a href="http://www.channel4.com/programmes/utopia">Utopia</a></dd>
            <dt class="content-list-question">Playing:</dt>
            <dd class="content-list-answer"><a href="http://www.pokemonxy.com/">Pokemon X</a></dd>
            <dt class="content-list-question">Learning:</dt>
            <dd class="content-list-answer"><a href="http://en.wikipedia.org/wiki/Adobe_Photoshop#CC">Photoshop CC</a></dd>
            <dt class="content-list-question">Updating:</dt>
            <dd class="content-list-answer"><a href="http://shoreditchgraffiti.co.uk/">Shoreditch Grafiti</a></dd>
            <dt class="content-list-question">Exercising:</dt>
            <dd class="content-list-answer">Yoga, Running</dd>
          </dl>
        </div>
      </div>
      <div class="content-list-box">
        <div class="content-list-box-col">
          <h4 class="icon-header content-list-header"><i class="fa fa-heart"></i> Inspirations</h4>
          <ul class="content-list">
            <li class="content-list-item dash-list-item"><a href="http://www.slowlydownward.com" target="_blank">Stanley Donwood</a></li>
            <li class="content-list-item dash-list-item"><a href="http://en.wikipedia.org/wiki/Bauhaus" target="_blank">Bauhaus</a></li>
            <li class="content-list-item dash-list-item"><a href="https://www.donnawilson.com" target="_blank">Donna Wilson</a></li>
            <li class="content-list-item dash-list-item"><a href="http://neasdencontrolcentre.com" target="_blank">Neasden Control Centre</a></li>
            <li class="content-list-item dash-list-item"><a href="http://www.sagmeisterwalsh.com" target="_blank">Stefan Sagmeister</a></li>
          </ul>
        </div>
        <div class="content-list-box-col">
          <h4 class="icon-header content-list-header"><i class="fa fa-trophy"></i> Goals</h4>
          <ul class="content-list">
            <li class="content-list-item dash-list-item">To own a puppy</li>
            <li class="content-list-item dash-list-item">Finish renovating my flat</li>
            <li class="content-list-item dash-list-item">Run a 10k for charity</li>
            <li class="content-list-item dash-list-item">Set-up a new aquarium</li>
          </ul>
        </div>
      </div>

      <div class="social-connect">
        <h4 class="social-connect-header">Find me on</h4>
        <ul class="social-connect-list">
          <li>
            <a href="https://twitter.com/le_beau"
               class="social-connect-icon circle-icon twitter-colour tooltip-trigger"
               data-toggle="tooltip"
               data-placement="top"
               title="Twitter">
              <i class="fa fa-twitter"></i>
              <span class="visually-hidden">Twitter</span>
            </a>
          </li>
          <li>
            <a href="http://www.pinterest.com/donnacarter86/"
               class="social-connect-icon circle-icon pinterest-colour tooltip-trigger"
               data-toggle="tooltip"
               data-placement="top"
               title="Pinterest">
              <i class="fa fa-pinterest"></i>
              <span class="visually-hidden">Pinterest</span>
            </a>
          </li>
          <li>
            <a href="https://www.flickr.com/photos/donnacarter"
               class="social-connect-icon circle-icon flickr-colour tooltip-trigger"
               data-toggle="tooltip"
               data-placement="top"
               title="Flickr">
              <i class="fa fa-flickr"></i>
              <span class="visually-hidden">Flickr</span>
            </a>
          </li>
          <li>
            <a href="https://dribbble.com/donna_carter"
               class="social-connect-icon circle-icon dribbble-colour tooltip-trigger"
               data-toggle="tooltip"
               data-placement="top"
               title="Dribbble">
              <i class="fa fa-dribbble"></i>
              <span class="visually-hidden">Dribbble</span>
            </a>
          </li>
          <li>
            <a href="http://instagram.com/donnacarter"
               class="social-connect-icon circle-icon instagram-colour tooltip-trigger"
               data-toggle="tooltip"
               data-placement="top"
               title="Instagram">
              <i class="fa fa-instagram"></i>
              <span class="visually-hidden">Instagram</span>
            </a>
          </li>
          <li>
            <a href="https://uk.linkedin.com/in/donnamcarter"
               class="social-connect-icon circle-icon linkedin-colour tooltip-trigger"
               data-toggle="tooltip"
               data-placement="top"
               title="LinkedIn">
              <i class="fa fa-linkedin"></i>
              <span class="visually-hidden">LinkedIn</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>

<div class="container"><hr class="already-padded" /></div>

<div class="basic-strip">
  <section class="left-sidebar sticky-col">
    <div class="left-col stick">
      <div class="left-col-wrapper">
        <h3 class="side-title">Biography</h3>
      </div>
    </div>
    <div class="right-col">
      <div class="row">
        <article class="main-content col-md-8">
          <p class="intro">
            For as long as I can remember I've been designing - even before I knew what designing was.
            From potato painting to sketches to exhibition stands - I’ve always found the creative process natural and rewarding.
          </p>

          {% include breakout-image-float-right-column.html image_src='me/little-me.jpg' image_alt='Me when I was a little girl' %}

          <p>
            As a child growing up in York I dreamt of becoming a scientist.
            This changed when a fear of machinery prompted me to study Graphic Design over Design Technology.
            Branding and prototyping an Alcopop made me realise I had found what I wanted to do with my life.
            Science would have to be a backup plan.
          </p>

          <p>
            I studied Graphic Design further at college and university.
            I enjoyed broadening my skills and learning key design principles.
            During this time I gained a strong appreciation for the disciplines of typography and print.
          </p>

          <p>
            After university I joined the coffee world working as an in-house designer for <a href="http://www.coopers-coffee.co.uk" target="_blank">Coopers Coffee</a>.
            Before this job I was happy drinking an instant coffee, nowadays my favourite brew is a nice single-origin brewed with a V60 pourover.
            Yes, unfortunately I have become a coffee snob!
          </p>

          {% include breakout-image-right-caption.html image_src='me/coffee.jpg' image_alt='Me brewing some coffee' %}

          <p>
            Coopers really helped me to develop the professional skills that university doesn’t quite prepare you for.
            I learnt a lot about working with clients, managing my time, and  co-ordinating with print companies.
          </p>

          {% include breakout-image-float-right-column.html image_src='me/studio.jpg' image_alt='The UCC studio' caption='The UCC studio' %}

          <p>
            In 2011 I moved from Yorkshire to London to join <a href="http://www.ucc-coffee.co.uk/" target="_blank">UCC Coffee</a> (formally United Coffee) where I am currently working.
            This has given me the opportunity to work on larger projects with a talented team and to broaden my skills further into web and other digital design.
          </p>

          <p>
            My role means I get to work with some really great clients on some fantastic projects.
            These range from the traditional graphic design routes such as packaging, branding and advertising; through to experience design for exhibitions and information architecture for software.
          </p>

          <p>
            While not working I have been renovating my flat with my partner.
            It is great to see my ideas for the rooms come to life - albeit very slowly.
            I also enjoy keeping fit, practicing the cosmopolitan sports of Yoga and Running.
            This is particularly helpful since I have a love of cheese!
          </p>

          {% include breakout-image-right-caption.html image_src='me/shoreditch-graffiti.jpg' image_alt='A photo of graffiti' caption='A popular photo from <a href="http://shoreditchgraffiti.co.uk/post/95284828190/bacon-street">Shoreditch Graffiti</a>.' %}

          <p>
            On the internet I have a photo blog documenting the ever changing street art of <a href="http://shoreditchgraffiti.co.uk" target="_blank">Shoreditch</a>.
            I keep a <a href="http://www.pinterest.com/donnacarter86/" target="_blank">Pinterest</a> of design inspiration.
            I use my <a href="https://www.flickr.com/photos/donnacarter/" target="_blank">Flickr</a> to document both my travels and experiments with analogue photography.
            Occasionally I post work in progress to my <a href="https://dribbble.com/donna_carter" target="_blank">dribbble.</a>
          </p>

          <p>
            If you'd like to get in touch with me you can <a href="mailto:me@donnacarter.co.uk?subject=Hi%20Donna">email me</a>,
            <a href="https://twitter.com/intent/tweet?text=@le_beaut%20Hi%20Donna">tweet me</a>, or <a href="uk.linkedin.com/in/donnamcarter/">find me on LinkedIn</a>.
          </p>

          <blockquote>
            <p>Designers are meant to be loved, not to be understood.</p>
            <footer><cite><a href="http://www.mr-cup.com/" target="_blank">Fabien Barral</a></cite></footer>
          </blockquote>
        </article>
      </div>
    </div>
</div>

{% contentfor footer_scripts %}
  <script src="//platform.twitter.com/widgets.js"></script>
{% endcontentfor %}
