---
layout: journal-post
title: Non-Format
date: '2010-09-22 22:06:08 +0100'
categories:
- journal
tags:
- Typography
- Inspirational
- Graphic Design
thumbnail: journal/non-format/nf-1.png
---

<p class="intro">I just wanted to share with you all a design team who I find truly inspirational. The typography and illustration that they have produced is breathtaking.</p> 

<p>Here are a few examples of their work and please go and visit their website to see whole lot more.</p>

<p><a href="http://www.non-format.com/">http://www.non-format.com/</a></p>

{% include breakout-image-below-caption-pair.html image_1_src='journal/non-format/nf-1.png' image_2_src='journal/non-format/nf-2.png' %}

{% include breakout-image-right-caption.html image_src='journal/non-format/nf-3.png' %}

{% include breakout-image-right-caption.html image_src='journal/non-format/nf-4.png' %}