---
title: Typogrophy in water
date: '2010-07-19 07:58:00 +0100'
tags:
- Typography
- Graphic Design
thumbnail: journal/typography-in-water/tw-purple.jpg
redirect_from:
- /blog/typography-in-water/
---

<p class="intro">I got very excited about something this morning while I was checking twitter, YouWorkForThem had posted a link to a recent project they have done on Behance.</p>

<p>The project is called Typography in Water, they decided to mix some of their fonts with water and got an amazing end result. They have made they images available for people to use on their iPhones or ipads as backgrounds, which of course I have already done! I have a fondness for Black Slabbath. YouWorkForThem have lots of amazing fonts to choose from, if you are a font lover I suggest you check out their site.</p>

<p><a title="Behance" href="http://www.behance.net/gallery/Typography-in-Water/568972">www.behance.net/gallery/Typography-in-Water/568972</a></p>

{% include breakout-image-right-caption.html image_src='journal/typography-in-water/tw-purple.jpg' image_alt='iPhone background purple' %}

{% include breakout-image-right-caption.html image_src='journal/typography-in-water/tw-yellow.jpg' image_alt='iPhone background yellow' %}

{% include breakout-image-right-caption.html image_src='journal/typography-in-water/tw-red.jpg' image_alt='iPhone background red' %}
