---
layout: journal-post
title: Graffiti vs Art in Milan
date: '2010-06-14 21:36:46 +0100'
categories:
- journal
tags:
- Design
- Art
- Travel
thumbnail: journal/graffiti-vs-art/graffiti.jpg
---

<p class="intro">This week I have been on holiday in Milan, for those of you who don't know me I am a very big fan of Leonardo Da Vinci so this was a very exciting trip for me indeed, lots of art and museums to visit. </p>

{% include breakout-image-right-caption.html image_src='journal/graffiti-vs-art/last-supper-davinci.jpg' image_alt='Leonardo Da Vinci Last Supper artwork' %}

<p>As I was soaking up all the art and architecture I couldn't help but notice that the whole of Milan was covered in graffiti, I mean the graffiti was everywhere, see the pics below that I took while walking down just one street!</p>

{% include breakout-image-below-caption-pair.html image_1_src='journal/graffiti-vs-art/graffiti.jpg' image_1_alt='Graffiti on a door' image_2_src='journal/graffiti-vs-art/graffiti2.jpg' image_2_alt='Graffiti on shop front' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/graffiti-vs-art/graffiti3.jpg' image_1_alt='Graffiti on shutters' image_2_src='journal/graffiti-vs-art/graffiti4.jpg' image_2_alt='Graffiti on a wall' %}

<p>I have never seen graffiti covering places like this, the only spots that seemed to be safe were shop windows and monuments. I mean don't get me wrong, I love graffiti. Banksy is a hero to me, but is all this graffiti covering everywhere really a form of art or is it just a mess? I really couldn't decide. What really made me think was the fact that none of the shop keepers seemed to want to get rid of this graffiti, this seems to me that they have just accepted it for what it is and do not see it as an eye-sore or mess.</p>

<p>At what point is graffiti art? Or not Art?</p>
