---
layout: journal-post
title: Window shopping
date: '2010-05-14 15:31:52 +0100'
categories:
- journal
tags:
- Typography
- Advertising
- Graphic Design
thumbnail: journal/window-shopping/lush.jpg
---
<p class="intro">Not a lot of shop windows really stand out and grab your attention, which is very disappointing as there is so much potential to sell through window dressing. As I was walking through town I saw an amazing shop window, it instantly made me stop in my tracks to stand and read what it had to say.</p>

{% include breakout-image-right-caption.html image_src='journal/window-shopping/lush.jpg' image_alt='Lush window display' caption='Lush in Leeds' %}

<p>The shop window in question was <em>Lush</em>, the vibrant colours and and striking "in your face" type is really hard to ignore. I just had to share this with everyone, I have also taken a photograph of the other window which was equally as interesting.</p>

{% include breakout-image-right-caption.html image_src='journal/window-shopping/lush-2.jpg' image_alt='Lush window display' %}

<p>The shop window in question was <em>Lush</em>, the vibrant colours and and striking "in your face" type is really hard to ignore. I just had to share this with everyone, I have also taken a photograph of the other window which was equally as interesting.</p>
