---
title: 'Art, food and IKEA '
date: '2010-10-06 21:46:43 +0100'
tags:
- Books
- Art
- Photography
thumbnail: journal/ikea/ikea_semlor_rec_0042.jpg
---

<p>I stumbled across this the other day, it is a new IKEA cookbook. Instead of the usual cookbook style of photography this book takes a whole new approach, using all the different ingredients to create an interesting photograph certainly makes the recipe a whole lot more interesting!</p>

<p>More <a href="http://demo.fb.se/e/ikea/homemade_is_best/">here</a></p>

{% include breakout-image-right-caption.html image_src='journal/ikea/ikeaboken_03.jpg' image_alt='The Ikea book cover' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/ikea/ikea_semlor_rec_0042.jpg' image_1_alt='A spread from the book' image_2_src='journal/ikea/ikea_schwarzwald_rec_0005.jpg' image_2_alt='Another spread from the book' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/ikea/ikea_mandelkubb_rec_0030.jpg' image_1_alt='A spread from the book' image_2_src='journal/ikea/ikea_finskapinnar_rec_0015.jpg' image_2_alt='Another spread from the book' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/ikea/ikea_drommar_rec_0023.jpg' image_1_alt='A spread from the book' image_2_src='journal/ikea/ikea_bondkaka_rec_0119.jpg' image_2_alt='Another spread from the book' %}
