---
layout: journal-post
title: Micro-sculptures
date: '2010-08-27 13:19:11 +0100'
categories:
- journal
tags:
- Design
thumbnail: journal/micro-sculptures/pencilleadsculptures1_0.jpg
---

<p>This is actually amazing, I have no idea how the guy has the patience for this! Micro sculptures made my Dalton Ghetti using only the wood and lead of pencils.</p>

{% include breakout-image-right-caption.html image_src='journal/micro-sculptures/pencilleadsculptures1_0.jpg' image_alt='A photo of all the sculptures together' %}

{% include breakout-image-right-caption.html image_src='journal/micro-sculptures/pencilleadsculptures3_0.jpg' image_alt='A saw made out of the lead of a pencil' %}

{% include breakout-image-right-caption.html image_src='journal/micro-sculptures/pencilleadsculptures6_0.jpg' image_alt='A screw made out of the lead of a pencil' %}