---
layout: journal-post
title: It's not how good you are...
date: '2010-08-22 20:54:55 +0100'
categories:
- journal
tags:
- Books
- Inspirational
- Graphic Design
thumbnail: journal/its-not-how-good-you-are/pa-cover.png
---

<p>It's not how good you are, it's how good you want to be. I am always amazed when I am talking to my designer friends, of how few of them have heard of this book! This book should be every designers bible, the book itself may not look very big or interesting but it is possibly the most inspiring/motivational book I have read. It is a must read for any designer. It gives you no nonsense advice delivered in a casual/humorous way. Extremely easy to read.</p>

<p>Two of my favourite quotes from the book are;</p>

<blockquote>
  <p>Fail, fail again, fail better</p>
  <footer><cite>Samuel Beckett</cite></footer>
</blockquote>

<blockquote>
  <p>There are no short cuts to any place worth going.</p>
  <footer><cite>Beverly Sills</cite></footer>
</blockquote>

{% include breakout-image-right-caption.html image_src='journal/its-not-how-good-you-are/photo-4.jpg' image_alt='A photograph of a spread from the book' %}

{% include breakout-image-right-caption-pair.html image_1_src='journal/its-not-how-good-you-are/photo-22.jpg' image_1_alt='A quote from the book' image_2_src='journal/its-not-how-good-you-are/photo-31.jpg' image_2_alt='Another quote from the book' %}
