---
title: Hipstamatic
date: '2010-09-26 20:19:21 +0100'
tags:
- Photography
thumbnail: journal/hipstamatic/hip-2.jpg
redirect_from:
- /blog/hipstamatic/
---
<p class="intro">I have been having a lot of fun with a new app for my Iphone recently, it is called Hipstamatic. It makes taking photographs with your phone a whole lot more interesting!</p>

<p>It gives your digital photos a rustic analog feel. The app enables you to change the lens and flash to a variety which is included within the app, you can also buy more if you wish. Here are some of the photos I have taken so far.</p>

{% include breakout-image-below-caption-pair.html image_1_src='journal/hipstamatic/hip-2.jpg' image_1_alt='Photograph of old factory' image_2_src='journal/hipstamatic/hip-3.jpg' image_2_alt='Photograph of pipes' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/hipstamatic/hip-4.jpg' image_1_alt='Photograph of light' image_2_src='journal/hipstamatic/hip-5.jpg' image_2_alt='Photograph of cables' %}

<p>For more photos from the collection go to <a href="http://www.flickr.com/photos/donnacarter/sets/72157624873484161/">http://www.flickr.com/photos/donnacarter/sets/72157624873484161/</a></p>
