---
title: Clas Ohlson advertisements
date: '2010-05-17 12:12:57 +0100'
tags:
- Advertising
- Graphic Design
- Humour
thumbnail: journal/clas-ohlson/clasohlson.jpg
---

<p class="intro">Recently I can't help but notice that <em>Clas Ohlson</em> have really gone to town on their advertising campaign.</p>

<p>I mean it is brilliant to see so much effort and thought going into the launch of their new shop in Leeds, not many places seem to do this. What I like best about the ads is the fact that they are really bold and hard to miss. It is a really brave attempt of using humour to advertise their products which is potentially risky to do. Here are a few examples.</p>

{% include breakout-image-below-caption-pair.html image_1_src='journal/clas-ohlson/clasohlson.jpg' image_1_alt='Clas Ohlson big log? poster' image_2_src='journal/clas-ohlson/clasohlson2.jpg' image_2_alt='Clas Ohlson brazilian? poster' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/clas-ohlson/clasohlson3.jpg' image_1_alt='Clas Ohlson love handles? poster' image_2_src='journal/clas-ohlson/clasohlson4.jpg' image_2_alt='Clas Ohlson caught short? poster' %}
