---
title: Wallpaper* app
date: '2010-06-15 07:00:58 +0100'
tags:
- Design
- Art
- Apps
thumbnail: journal/wallpaper-app/wa-screenshot1.jpg
---

<p class="intro">For those of you who like to try and keep up to date on design whilst on the move (I do as I seem to spend half my life commuting), I have found a cool app for you. </p>

<p>Wallpaper* have now released an app for the iphone which will keep you in touch with everything design related. I find it great to read in the mornings to get me motivated and inspired for the day ahead. Here are a few screen shots.</p>

{% include breakout-image-right-caption-pair.html image_1_src='journal/wallpaper-app/wa-screenshot1.jpg' image_1_alt='Wallpaper App opening screen' image_2_src='journal/wallpaper-app/wa-screenshot2.jpg' image_2_alt='Wallpaper App menu' %}

{% include breakout-image-right-caption-pair.html image_1_src='journal/wallpaper-app/wa-screenshot3.jpg' image_1_alt='Wallpaper App more menu options' image_2_src='journal/wallpaper-app/wa-screenshot4.jpg' image_2_alt='Wallpaper App article' %}
