---
layout: journal-post
title: The new £2 coin design
date: '2010-12-01 08:00:53 +0000'
categories:
- journal
tags:
- Typography
- Design
thumbnail: journal/coin-design/twopounds_0.jpg
---

<p class+"intro"><a href="http://www.wearedesignstudio.com/">DesignStudio</a> in London have created a new design for the £2 coin, which celebrates the 400th anniversary of the King James Bible.</p> 

<p>I actually thought this was jsut beautiful, I love the typography used and the idea behind the coin is to celebrate the original process of the printing press. Half of text is mirrored and protrudes and the other half is how is meant to look after the process is complete. This is one £2 coin that I will not be spending if I get my hands on one!</p>

{% include breakout-image-below-caption.html image_src='journal/coin-design/twopounds_0.jpg' image_alt='The new two pound coin design' %}

{% include breakout-image-below-caption.html image_src='journal/coin-design/twopounds1_1.jpg' image_alt='Close up on the new two pound coin design' %}