---
layout: journal-post
title: Logo, font and lettering bible
date: '2010-05-21 16:08:13 +0100'
categories:
- journal
tags:
- Typography
- Book
thumbnail: journal/lettering-bible/front-cover.jpg
---

{% include breakout-image-float-right-narrow.html image_src='journal/lettering-bible/front-cover.jpg' image_alt='The book front cover' %}

<p class="intro">If you are interested in logos, fonts and lettering then this is a must read book for you. I randomly found this a while ago whilst browsing the internet, it was so nice to read about type and how it originated.</p> 

<p>Learning about the history and how many people in the past, used to spend ages hand drawing fonts front scratch to such precise detail. It is very easy to read (plenty of pictures). If anyone does decide to read this let me know what you think to it. It certainly inspired me to get the pens back out and drawing logos and stuff.</p>
<p>Here are some scans of the pages.</p>

{% include breakout-image-right-caption.html image_src='journal/lettering-bible/page-8.jpg' image_alt='Page 8 scan' %}

{% include breakout-image-right-caption.html image_src='journal/lettering-bible/page72.jpg' image_alt='Page 72 scan' %}

{% include breakout-image-right-caption.html image_src='journal/lettering-bible/page124.jpg' image_alt='Page 124 scan' %}
