---
layout: journal-post
title: My website sneak preview
date: '2010-06-03 22:10:17 +0100'
categories:
- journal
tags:
- Web Design
thumbnail: journal/website-preview/website-preview.jpg
---

<p class="intro">So I think I am ready to show some screen shots of the website I have been working so hard on recently. Teaching myself HTML and CSS is certainly not the easiest thing I have attempted! </p>

<p>With help from friends who are more in the know than me I have managed to progress quite far with this. I am very pleased with myself and it has been a really fun (if not frustrating at times) learning experience. I think it is a good thing to never stop learning new skills and to keep yourself interested in everything you do.</p>

<p>Let me know what you think.</p>

{% include breakout-image-right-caption.html image_src='journal/website-preview/website-preview.jpg' image_alt='Screenshot of website section' image_border=true %}

{% include breakout-image-right-caption.html image_src='journal/website-preview/website-preview2.jpg' image_alt='Screenshot of another website section' image_border=true %}

{% include breakout-image-right-caption.html image_src='journal/website-preview/website-preview3.jpg' image_alt='Screenshot of another website section' image_border=true %}

{% include breakout-image-right-caption.html image_src='journal/website-preview/website-preview4.jpg' image_alt='Screenshot of another website section' image_border=true %}
