---
layout: journal-post
title: The worlds largest photo
date: '2010-11-29 13:33:26 +0000'
categories:
- journal
tags:
- Art
- Photography
thumbnail: journal/largest-photo/01-whole_pano_360x180degrees.jpg
---

<p class="intro">I came across this interesting fact a few days ago. The photo is amazing! The photo is an 80-gigapixel panoramic photo, made from 7886 individual images.</p> 

<p>The panorama was shot from the top of the Centre Point building in central London, in the summer of 2010. Which makes it the worlds largest photo to date! The panorama itself is interesting enough but the image is so huge you can zoom in and actualy see people working in office buildings! look hard enough and you might see someone you know...</p>

<p>Image by Jeffrey Martin,<a href="http://www.360cities.net/"> www.360cities.net</a></p>

{% include breakout-image-below-caption.html image_src='journal/largest-photo/01-whole_pano_360x180degrees.jpg' image_alt='Panoramic photo of London' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/largest-photo/05-people_large.jpg' image_1_alt='Zoomed in section of the panorama photo' image_2_src='journal/largest-photo/06_office1-large.jpg' image_2_alt='Zoomed in section of the panorama photo' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/largest-photo/10-london_eye_large.jpg' image_1_alt='Zoomed in section of the panorama photo' image_2_src='journal/largest-photo/11-gherkin_large.jpg' image_2_alt='Zoomed in section of the panorama photo' %}