---
title: The Typography Manual
date: '2010-05-24 22:12:38 +0100'
tags:
- Typography
- Tools
- Apps
thumbnail: journal/typography-manual/tm-1.jpg
redirect_from:
- /blog/the-typography-manual/
---

{% include breakout-image-float-right-narrow.html image_src='journal/typography-manual/tm-1.jpg' image_alt='App opening screen' %}

<p class="intro">The itunes app store is a complete minefield when it comes to finding anything specific, I find myself endlessly searching until I eventually get lost in the app world and give up. Not so long ago I found this amazing app called &ldquo;The Typography Manual&rdquo;. </p>

<p>It has since become a little pocket manual for anything typography related, a history of type, a guide for using type on the web and a bunch of other things too that you will have to see for yourself. I recommend this to any designers out there, it is one of the best design apps I have found so far.</p>

<p>Enjoy some screen shots.</p>

{% include breakout-image-below-caption-pair.html image_1_src='journal/typography-manual/tm-2.jpg' image_1_alt='Screenshot of contents' image_2_src='journal/typography-manual/tm-3.jpg' image_2_alt='Screenshot of basic alignment page' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/typography-manual/tm-4.jpg' image_1_alt='Screenshot of ruler' image_2_src='journal/typography-manual/tm-5.jpg' image_2_alt='Screenshot of inspiration and blogs' %}
