---
layout: journal-post
title: Tattoo design
date: '2010-10-24 21:39:26 +0100'
categories:
- journal
tags:
- Typography
- Design
thumbnail: journal/tattoo-design/tattoo.jpg
---

<p class="intro">So a friend of mine approached me at work and asked if I could design him a tattoo for the top of his arm/shoulder, he wanted the design to be based around the initials of his family (J-C-C-S).</p> 

{% include breakout-image-right-caption.html image_src='journal/tattoo-design/tattoo.jpg' image_alt='Final tattoo design' %}

<p>I have never designed a tattoo for anyone before but this seemed really exciting to me, a perfect opportunity to play around with type layout and patterns. He chose the above design. See some of my other ideas below.</p>

{% include breakout-image-right-caption-pair.html image_1_src='journal/tattoo-design/tattoo-1.jpg' image_1_alt='Alternative tattoo design' image_2_src='journal/tattoo-design/tattoo-2.jpg' image_2_alt='Alternative tattoo design' caption='Alternative tattoo designs' %}

{% include breakout-image-right-caption-pair.html image_1_src='journal/tattoo-design/tattoo-3.jpg' image_1_alt='Alternative tattoo design' image_2_src='journal/tattoo-design/tattoo-4.jpg' image_2_alt='Alternative tattoo design' %}
