---
title: Build your own font
date: '2010-07-13 15:59:21 +0100'
tags:
- Typography
- Graphic Design
thumbnail: journal/build-your-own-font/fs-screenshot1.png
redirect_from:
- /blog/build-your-own-font/
---

<p class="intro">A friend sent me a link to a font making website called <a title="FontStruct" href="http://fontstruct.fontshop.com/">FontStruct</a> a while ago, I bookmarked it with every intention of checking out the site and having a play around but just never got round to it.</p>

<p>I had some free time so ventured onto the website and it is actually a lot better than I was expecting! It was really cool just to play around with various shapes etc to create letters. If you were wanting to create something serious I think it would take time and patience as it is quite tricky to get the letters to look like actual letters! The site also has an area where you can view fonts that have been created by other members and these are all free to download.</p>

<p>Here are a few screen shots so hopefully you can get an idea of what the site is about, I really recommend you go and play around. I want to see all of your efforts please!</p>

{% include breakout-image-right-caption.html image_src='journal/build-your-own-font/fs-screenshot1.png' image_alt='Screenshot of FontStruct website' %}

{% include breakout-image-right-caption.html image_src='journal/build-your-own-font/fs-screenshot2.png' image_alt='Screenshot of FontStruct website building font' %}

{% include breakout-image-right-caption.html image_src='journal/build-your-own-font/fs-screenshot3.png' image_alt='Screenshot of FontStruct website font building' %}

<p><a title="Font Struct" href="http://fontstruct.fontshop.com/">http://fontstruct.fontshop.com/</a></p>

