---
title: Art in the Topography of Terror
date: '2010-10-22 15:14:10 +0100'
tags:
- Design
- Exhibition
thumbnail: journal/topography/tt-9.jpg
---

<p>So here I am on holiday in Berlin, I have been to learn about the history of Berlin which is truly astonishing and interesting.</p>

<p>What I didn't think I would find amongst all the history in the Topography of Terror was some very old but interesting advertisements, posters and newspapers. I was amazed that such things existed still. The typography and illustrations were brilliant. I managed to get some examples for you all to see.</p>

<p><a href="http://www.topographie.de/en/topography-of-terror/nc/1/">www.topographie.de</a></p>

{% include breakout-image-right-caption.html image_src='journal/topography/tt-9.jpg' image_alt='Time magazine cover' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/topography/tt-1.jpg' image_1_alt='WWII propaganda poster' image_2_src='journal/topography/tt-2.jpg' image_2_alt='WWII propaganda poster' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/topography/tt-3.jpg' image_1_alt='WWII propaganda poster' image_2_src='journal/topography/tt-4.jpg' image_2_alt='WWII propaganda poster' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/topography/tt-5.jpg' image_1_alt='WWII propaganda poster' image_2_src='journal/topography/tt-6.jpg' image_2_alt='WWII propaganda poster' %}
