---
title: Branding myself
date: '2010-05-20 12:31:04 +0100'
tags:
- Drawing
- Typography
- Logo
thumbnail: journal/branding-myself/dc-one.jpg
redirect_from:
- /blog/branding-myself/
---

<p class="intro">A while ago now I decided that I would try and brand myself, by that I don't mean getting out a hot piece of metal and actually branding/burning myself! No I wanted to try and create an identity for myself, something I could use on websites and various other things.</p>

<p>I want to show you some of the ideas I had before I decided to stick with the one I have, getting the pens and pencils out to draw out my ideas is something that I enjoy immensly and hardly ever do for some reason. This will change! I now carry my pens and pencils everywhere with me along with a notebook to draw when ever I like (plus I seem to have design ideas while I'm out and about then forget by the time I get home haha).</p>

<p>Anyway here are the rest of my ideas...</p>

{% include breakout-image-below-caption-pair.html image_1_src='journal/branding-myself/dc-one.jpg' image_1_alt='Logo concepts' image_2_src='journal/branding-myself/dc-three.jpg' image_2_alt='More logo concepts' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/branding-myself/dc-four.jpg' image_1_alt='Square shaped logo concepts' image_2_src='journal/branding-myself/dc-five.jpg' image_2_alt='Logo concepts with swirls' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/branding-myself/dc-two.jpg' image_1_alt='Logo concept with intricate detail' image_2_src='journal/branding-myself/dc-six.jpg' image_2_alt='Two bold logo concepts inverted' %}
