---
title: Escape Contemporary Youth Theatre logo
date: '2010-12-30 14:50:53 +0000'
tags:
- Drawing
- Typography
- Logo
thumbnail: journal/escape/escape-initial-ideas2.jpg
redirect_from:
- /blog/escape-contemporary-youth-theatre-logo/
---

<p class="intro">A friend asked me to help out with a logo design for his Contemporary Youth Theatre group. The brief was to focus on the word &ldquo;escape&rdquo; with the &ldquo;contemporary youth theatre&rdquo; being the tag line. He wanted the logo to be inside a box of some-kind and for the font to be clear and easy to read. This is the chosen design:</p>

{% include breakout-image-right-caption.html image_src='journal/escape/final-logo-outlines.jpg' image_alt='Final Escape logo design' %}

<p>The concept is that the word &ldquo;escape&rdquo; is escaping from the page, so when the logo is placed over an image it will be cut-out from the box revealing some of the image underneath. The tag line will always remain solid and not a cut-out. Here is an example of what I mean, I realise I am not the best at describing things!</p>

{% include breakout-image-right-caption.html image_src='journal/escape/escape-colour-var3.jpg' image_alt='Final Escape logo on top of an image' %}

<p>Here are a few of the initial ideas.</p>

{% include breakout-image-below-caption-pair.html image_1_src='journal/escape/escape-colour-var4.jpg' image_1_alt='Some initial sketches' image_2_src='journal/escape/escape-initial-ideas.jpg' image_2_alt='Some initial sketches' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/escape/escape-initial-ideas2.jpg' image_1_alt='Some initial sketches' image_2_src='journal/escape/escape-initial-ideas4.jpg' image_2_alt='Some initial sketches' %}
