---
title: Happy Birthday
date: '2010-05-14 15:07:26 +0100'
tags:
- Painting
- Drawing
thumbnail: journal/happy-birthday/Elvis.jpg
redirect_from:
- /blog/happy-birthday/
---
<p class="intro">So I had a few birthdays coming up and I had no money to buy any presents, dilemma. These people mean a lot to me and I really wanted to do something special, I decided I would paint them both a canvas of someone who they admire. It was fun to get out the paints and flex my artistic side for a change.</p>
{% include breakout-image-right-caption.html image_src='journal/happy-birthday/Elvis.jpg' image_alt='Elvis Presley' caption='Elvis Presley' %}
{% include breakout-image-right-caption.html image_src='journal/happy-birthday/John.jpg' image_alt='John Lennon' caption='John Lennon' %}
{% include breakout-image-right-caption.html image_src='journal/happy-birthday/John2.jpg' image_alt='Work in progress' caption='Work in progress' %}
