---
title: Amazing Origami
date: '2011-04-01 09:00:22 +0100'
tags:
- Art
- Inspirational
thumbnail: journal/amazing-origami/origami-5.jpg
redirect_from:
- /blog/amazing-origami/
---

<p class="intro">Origami is the Japanese art of paper folding, the idea is that you use one piece of paper and no glue!</p>

<p>I remember trying to do this as a kid and it being fun but very hard. Won Park has taken origami to the next level and has created some absolutely mind blowing pieces of work out of money. Please visit his Deviant Art site to see more of his work: <a href="http://orudorumagi11.deviantart.com/">orudorumagi11.deviantart.com</a></p>

{% include breakout-image-right-caption.html image_src='journal/amazing-origami/origami-5.jpg' image_alt='An origami bear made out of money' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/amazing-origami/origami-1.jpg' image_1_alt='Origami Eiffel tower' image_2_src='journal/amazing-origami/origami-3.jpg' image_2_alt='Origami stegosaurus' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/amazing-origami/origami-2.jpg' image_1_alt='Origami fish' image_2_src='journal/amazing-origami/origami-4.jpg' image_2_alt='Origami star wars fighters' %}
