---
title: Stickers on the central line
date: '2011-05-10 17:47:40 +0100'
tags:
- Humour
thumbnail: journal/central-line/central-line-1.jpg
redirect_from:
- /blog/stickers-on-the-central-line/
---

<p class="intro">Ok so I thought this was really funny! It is a street art project where artists carefully place stickers on route maps on the central line.</p>

{% include breakout-image-right-caption.html image_src='journal/central-line/central-line-1.jpg' image_alt='A pair of cute dogs' %}

<p>Here are a few examples but go and visit the website for more photos which will provide you with much amusement. They also have clever captions for each photo on the website. Enjoy!</p>

<p><a href="http://stickersonthecentralline.tumblr.com/">http://stickersonthecentralline.tumblr.com/</a></p>

{% include breakout-image-right-caption-pair.html image_1_src='journal/central-line/central-line-2.jpg' image_1_alt='Hanger lane' image_2_src='journal/central-line/central-line-3.jpg' image_2_alt='Central Line drunk drunk stop' %}

{% include breakout-image-right-caption-pair.html image_1_src='journal/central-line/central-line-4.jpg' image_1_alt='Central line like' image_2_src='journal/central-line/central-line-5.jpg' image_2_alt='Central Line mind the gap' %}
