---
title: Stories like Snakes
date: '2011-02-08 16:02:50 +0000'
tags:
- Design
- Photography
thumbnail: journal/stories-like-snakes/sls-4.jpg
redirect_from:
- /blog/stories-like-snakes-2/
---

<p class="intro">I have recently been working on a flier for an upcoming performance called &ldquo;Stories like Snakes&rdquo; by Escape: Contemporary Youth Theatre.</p>

<p>Part of the design includes a series of photos of the performers in costume, we made the decision that the photos should be Hipstamatic shots as these would suit the design really well. Last night I got to go to one of the rehearsals to take the photos needed. I was incredibly nervous about doing this as it involved me trying to get a bunch of boisterous and excitable children to stand still and pose for me!</p>

<p>As I walked into the building everyone was already gathered on the floor listening to Simon (The founder of Escape and the teacher), all heads turned to me as I perched myself in the corner. Simon introduced me to the group and sent me off with the first group of students. Thankfully I had a couple of adults to help me organise the youths. After the first couple of shots I started to relax and chat a lot more to the kids. It turns out pretty much all of them loved having their photo taken and being center of attention, when I had all the shots I needed they just wanted to keep going, suggesting more and more poses they could do in their costumes.</p>

<p>I also got to watch the rehearsal which was really entertaining. I can safely say I am looking forward to going and watching this in March. Anyway I hope you enjoy a few of the photos I took.</p>

{% include breakout-image-below-caption-pair.html image_1_src='journal/stories-like-snakes/sls-1.jpg' image_1_alt='Photo of a girl singing' image_2_src='journal/stories-like-snakes/sls-2.jpg' image_2_alt='Photo of a mad scientist' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/stories-like-snakes/sls-3.jpg' image_1_alt='Photo of a boy singing' image_2_src='journal/stories-like-snakes/sls-4.jpg' image_2_alt='Photo of a wolf' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/stories-like-snakes/sls-5.jpg' image_1_alt='Photo of a girl posing as a bunny' image_2_src='journal/stories-like-snakes/sls-6.jpg' image_2_alt='Photo of little red riding hood' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/stories-like-snakes/sls-7.jpg' image_1_alt='Photo of a butler' image_2_src='journal/stories-like-snakes/sls-8.jpg' image_2_alt='Photo of a wolf with a woodsman' %}
