---
title: Angry Birds
date: '2011-01-19 18:00:47 +0000'
tags:
- Humour
thumbnail: journal/angry-birds/angry-1.jpg
redirect_from:
- /blog/angry-birds/
---

<p class="intro">I think just about everyone has either played on or at least heard of the popular game Angry Birds!</p>

<p>Well someone has actually taken a lot of time to sit and re-create all the characters using Lego. I think these are so cool. Enjoy and please do visit Chiukeung's facebook page to see more photos of the Lego creations there. <a href="http://www.facebook.com/photo.php?fbid=10150091600353897&amp;set=a.10150091598803897.269264.600348896#!/album.php?fbid=10150091598803897&amp;id=600348896&amp;aid=269264">LEGO Angry Birds</a></p>

{% include breakout-image-below-caption.html image_src='journal/angry-birds/angry-1.jpg' image_alt='Group photo of lego angry birds' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/angry-birds/angry-2.jpg' image_1_alt='Blue angry birds' image_2_src='journal/angry-birds/angry-3.jpg' image_2_alt='Lego pigs' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/angry-birds/angry-4.jpg' image_1_alt='Green bird' image_2_src='journal/angry-birds/angry-5.jpg' image_2_alt='White bird' %}
