---
layout: journal-post
title: The World Beach Project
date: '2011-03-02 12:26:36 +0000'
categories:
- journal
tags:
- Art
- Exhibition
- Inspirational
thumbnail: journal/world-beach/beach-1.jpg
---

<p class="intro">Every last Thursday of the month I try and get myself to the Creative Network events in Leeds, these are events are really inspiring.</p> 

<p>Last Thursday we had Sue Lawty come and talk to us all about her World Beach Project in association with the V&amp;A. Her talk was brilliant, I don't think I have ever met anyone who is so passionate about stones before in my life. Everything about stones inspires all her work, the feel of them, their shapes. After her exhibition at the <a href="http://www.vam.ac.uk/index.html">V&amp;A</a> Sue was inspired to try and get other people involved with stones in a unique way, this is where the World Beach Project comes in.</p>

<p>The World Beach Project is a global art project open to everyone. The idea is that you go to a beach and choose some stones and make your pattern. Next you take three photographs, one of the whole beach, one of the process (this could show people searching, sorting or laying out the stones) and then one of the pattern. The only rules are that you can only use stones, nothing else, so no sand sculptures or seaweed! You then go home and upload all of the photos to the <a href="http://www.vam.ac.uk/collections/textiles/lawty/world_beach/">V&amp;A</a> website for the whole world to see. Exciting!</p>

<p>It is so amazing to see so many people from around the world get involved in this project, I have had a lot of fun just looking around on the map and zooming in so close that you actually feel like you are on the beach. I now want to go to a beach and create my own pattern. I was thinking maybe a giant letter H in the Helvetica font?! I am just kidding, though I do now want to create something on a beach and contribute to this project.</p>
<p>Here are some of the patterns created.</p>

{% include breakout-image-right-caption.html image_src='journal/world-beach/beach-2.jpg' image_alt='stones on a beach' %}

{% include breakout-image-right-caption-pair.html image_1_src='journal/world-beach/beach-1.jpg' image_1_alt='Shark pattern on the beach' image_2_src='journal/world-beach/beach-3.jpg' image_2_alt='Circle pattern on the beach' %}

{% include breakout-image-right-caption-pair.html image_1_src='journal/world-beach/beach-4.jpg' image_1_alt='Sunset on the beach' image_2_src='journal/world-beach/beach-5.png' image_2_alt='Google map of the world' %}

<p>Please visit <a href="http://www.vam.ac.uk/collections/textiles/lawty/world_beach/">www.vam.ac.uk</a> for more information about the World Beach Project and hopefully you will be inspired to have a go at creating a pattern yourself.</p>
