---
layout: journal-post
title: My Diana F
date: '2011-10-31 22:06:35 +0000'
categories:
- journal
tags:
- Photography
- Lomography
thumbnail: journal/diana-f/lomo-2.jpg
---

<p class="intro">I am a bit late getting this up but I have finally had my first film developed from my new Diana camera!</p> 

<p>Very exciting, I had completly forgotten how bizarre it is to take photos on a camera and not instantly be able to see what they look like. I love it, though I do feel that I have now got myself into an expensive new hobby!</p>

<p>Anyway, due to my inexperience a lot of the photos came out too dark, boo! But here are some that came out ok! I hope you like.</p>

{% include breakout-image-below-caption-pair.html image_1_src='journal/diana-f/lomo-1.jpg' image_1_alt='Photo of pylon' image_2_src='journal/diana-f/lomo-2.jpg' image_2_alt='Photo of the bathtub' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/diana-f/lomo-3.jpg' image_1_alt='Photo of sun flare on the common' image_2_src='journal/diana-f/lomo-4.jpg' image_2_alt='Photo of me' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/diana-f/lomo-5.jpg' image_1_alt='Photo of the common' image_2_src='journal/diana-f/lomo-7.jpg' image_2_alt='Photo of the Kevin' %}