---
layout: journal-post
title: Kuler
date: '2012-01-11 17:03:41 +0000'
categories:
- journal
tags:
- Design
- Tools
- Apps
thumbnail: journal/kuler/kuler-1.png
---

<p class="intro">Most people will probably already know about this website, but I wanted to share it with you all anyway!</p> 

<p>Working in my new role I have found Kuler really helpful when creating brand ideas and colour schemes. It can sometimes be really hard to come up with a brand new colour palette for a project and I have been having to do this a lot recently! Kuler has been around for a while but I have never really used it. Any way I recommend giving it a go or maybe even contribute your own colour scheme.</p>

<p>They also have a really fun app too called Saturation where you can play around with the colours together.</p>
<p>Kuler: <a href="http://kuler.adobe.com">kuler.adobe.com</a></p>

{% include breakout-image-right-caption.html image_src='journal/kuler/kuler-3.png' image_alt='Screenshot of the Kuler website' %}

{% include breakout-image-right-caption-pair.html image_1_src='journal/kuler/kuler-1.png' image_1_alt='Screenshot of the Kuler app' image_2_src='journal/kuler/kuler-2.png' image_2_alt='Screenshot of the Kuler app' caption='Screenshot of the Kuler app for iPhone' %}