---
title: The RedBall Project
date: '2012-04-18 20:56:24 +0100'
tags:
- Design
- Exhibition
thumbnail: journal/redball/redball-2.jpg
---

<p class="intro">I stumbled across this the other day, it is a project that has been going on for several years now and I think it is awesome!</p> 

<p>Kurt Perschke is an artist who lives and works in New York City, this project began as a commission by Arts in Transit and has since grown into something a lot bigger. It is basically a giant red ball that travels around the world and gets squeezed into random places. It is coming to the UK this summer so I am going to make sure I go and see this when it arrives in London. I wonder where it will be placed in London...</p>

<p>There are so many fantastic photos on flickr already, I can't wait to see it myself soon!</p>

<p>For more information about the project visit <a href="http://redballproject.com/">www.redballproject.com</a></p>

<p>To see lots of photos of the red ball go <a href="http://www.flickr.com/groups/redball/">here</a></p>

{% include breakout-image-right-caption.html image_src='journal/redball/redball-2.jpg' image_alt='Photo of the red ball stuck between two buildings' caption='Photograph courtesy of <a href="http://www.flickr.com/photos/vj_pdx/">Vicki Jean Beauchamp</a>' %}

{% include breakout-image-right-caption.html image_src='journal/redball/redball-1.jpg' image_alt='Photo of the red ball under a building' caption='Photograph courtesy of <a href="http://www.flickr.com/photos/vj_pdx/">Vicki Jean Beauchamp</a>' %}
