---
title: My Diana F+ - round 2
date: '2012-08-28 12:55:22 +0100'
tags:
- Photography
- Lomography
thumbnail: journal/diana-f-2/lomo-6.jpg
redirect_from:
- /blog/my-diana-f-round-2/
---

<p>I finally got around to getting 2 more films developed! As these films were now almost a year old I actually had no idea what was going to be on them, double the surprise woo hoo... I decided to get each film processed in a different way so that I could experiment and see what effect the different processes would have.</p>

<p>I am so pleased at the results, the photos have come out really well and it looks like I have finally got the hang of using the camera too. I decided to post some of my favourites here but if you want to see the whole set they are on my flickr: <a href="http://www.flickr.com/photos/donnacarter/sets/72157631179602804/">www.flickr.com</a></p>

{% include breakout-image-below-caption-pair.html image_1_src='journal/diana-f-2/lomo-1.jpg' image_1_alt='Reading festival' image_2_src='journal/diana-f-2/lomo-2.jpg' image_2_alt='London Street' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/diana-f-2/lomo-3.jpg' image_1_alt='Fields' image_2_src='journal/diana-f-2/lomo-4.jpg' image_2_alt='Trees' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/diana-f-2/lomo-5.jpg' image_1_alt='Charlie' image_2_src='journal/diana-f-2/lomo-6.jpg' image_2_alt='Disneyland Paris' %}
