---
title: The Letterpress Monster
date: '2012-06-08 17:39:19 +0100'
tags:
- Web
- Inspirational
- Graphic Design
description: An inspirational website from Ian Gabb, a letterpress technician at the Royal College of Art in London.
thumbnail: journal/letterpress-monster/lm-1.png
redirect_from:
- /blog/the-letterpress-monster/
---

<p class="intro">I just wanted to share this really cool website with everyone!</p>

<p>The Letterpress Monster is in fact Ian Gabb, he is a designer/printer and is currently working as a letterpress technician at the Royal College of Art in London. His new site is a great source of inspiration, it is not only a showcase of his work but also acts as a scrapbook of various printed items he has collected!</p>

<p>Go and check it out; <a href="http://www.letterpressmonster.com/">www.letterpressmonster.com</a></p>

{% include breakout-image-right-caption.html image_src='journal/letterpress-monster/lm-1.png' image_alt='Screenshot of the website' %}

{% include breakout-image-right-caption.html image_src='journal/letterpress-monster/lm-2.png' image_alt='Screenshot of the website' %}

{% include breakout-image-right-caption.html image_src='journal/letterpress-monster/lm-3.png' image_alt='Screenshot of the website' %}
