---
title: My new polaroid camera
date: '2013-08-20 10:39:23 +0100'
tags:
- photography
description: There is nothing more fun than taking a photo and printing it instantly.
thumbnail: journal/polaroid/polaroid.jpg
redirect_from:
- /blog/my-new-polaroid-camera/
---

<p class="intro">Long time no post eh?! I have been so, so busy recently with buying flats &amp; moving etc and now I am back to normality. Back to the grind as the saying goes...</p>

<p>This is possibly the most exciting thing ever! I have another new camera and it is a Polaroid, a Polaroid z340 Instant Digital Camera to be exact. The reasons why this camera is so awesome are as follows; No ink needed it uses zero ink technology, I am not really sure how it works and I think I would like to believe that there is a little elf or something inside the camera that processes the film (haha). It is also a 14mp digital camera which means you can preview the photos before you print, there is also an option to instantly print but I prefer to see what the photo looks like before I print.</p>

<p>There are also lots of other features on the camera such as filters for photographs and various scene/settings too, though I haven't experimented too much with these yet.</p>

<p>Here are some photos of the photos I have taken so far - I know I am pretty hilarious but I am a sucker for the printed photograph!</p>

{% include breakout-image-below-caption-pair.html image_1_src='journal/polaroid/billy.jpg' image_1_alt='Billy' image_2_src='journal/polaroid/kev.jpg' image_2_alt='Kevin' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/polaroid/dog.jpg' image_1_alt='Cute dog' image_2_src='journal/polaroid/billy-and-lindsey.jpg' image_2_alt='Billy and Lindsey' %}
