---
title: 'London Types: Graphic Design At CSM’s New Granary Building'
date: '2013-09-11 20:28:41 +0100'
tags:
- design
- art
- exhibition
description: A fun and free exhibition, which relates type with cities, running along the windows of Central Saint Martins.
thumbnail: journal/london-types/photo-3.jpg
redirect_from:
- /blog/london-types-graphic-design-at-csms-new-granary-building/
---

<p class="intro">Walking around Granary Square near Kings cross the other weekend I happened to stumble across a really cool little exhibition that was on. The exhibition is free and runs along the windows of Central Saint Martins, pretty cool huh?!</p>

<p>This exhibition, organised by <a title="Show us your Type" href="http://showusyourtype.com/index.php">Show Us Your Type</a>, is an international art project showcasing and relating type and cities. Designers submit pieces based on a typographical representation of London. A very cool idea and there are some fantastic pieces of work there, well worth a look.</p>

<p>It is only a small exhibition but worth seeing, here are some more photos I took.</p>

{% include breakout-image-right-caption.html image_src='journal/london-types/photo-4.jpg' image_alt='Artwork fromt he exhibition' %}

{% include breakout-image-right-caption-pair.html image_1_src='journal/london-types/photo-3.jpg' image_1_alt='Artwork fromt he exhibition' image_2_src='journal/london-types/photo-2.jpg' image_2_alt='Artwork fromt he exhibition' %}
