---
title: 'Lyons Decaf Coffee'
date: '2014-10-20 23:12:00 +0100'
tags:
- Print
- Packaging
- Graphic-design
description: A design for a decaf addition to the Lyons Coffee retail range.
thumbnail: journal/decaf-lyons/decaf-lyons1.jpg
---

<p class="intro">
  In my role at UCC Coffee I have the privilege of working with some iconic brands. The most historic of these is Lyons, who first started selling coffee in 1904.
</p>

<p>
  My talented colleagues Patrick and Jenna produced a fantastic rebrand for Lyons Coffee. They did a really great job bringing the Lyons packaging into 21st century. I was really excited when I was asked to design a new addition to the Lyons family - a new decaf product was joining the range.
</p>

{% include breakout-image-below-caption.html image_src='journal/decaf-lyons/decaf-lyons3.jpg' image_alt='The Lyons coffee range' %}

<p>
  The design was straightfoward to do as the brand guidelines for the new Lyons brand are really easy and fun to work with. The main challenge here was picking the colour. Blue is the typical colour used when dealing with anything decaf, especially when it is going to be retailed in supermarkets. But... what shade of blue to use?
</p>

<p>
  I opted for a nice, vibrant 3115c blue. I think they sit really nicely together as a set. I hope I have done Patrick and Jenna proud.
</p>

{% include breakout-image-right-caption.html image_src='journal/decaf-lyons/decaf-lyons1.jpg' image_alt='The front of the Lyons packs together' %}

{% include breakout-image-right-caption.html image_src='journal/decaf-lyons/decaf-lyons2.jpg' image_alt='Detail on the side of the pack' caption='More details about the product on the side of the pack.' %}
