---
title: 'Trip to Krakow'
date: '2014-04-15 20:28:41 +0100'
tags:
- travel
- inspiration
description: A mini break to Krakow to soak up the culture and history. Hidden amongst the aging streets is some really cool signage.
thumbnail: journal/krakow/krakow-5.jpg
---

<p class="intro">Recently I went on a mini holiday to Krakow, it is such an amazing place to visit.</p>

<p>What really caught my eye was the signage there. There was such a mix of modern – the kind of signs you might see on the trendy places to eat in London – and really old fashioned more traditional looking signs.</p>

<p>Anyway I took a bunch of photos of some!</p>

{% include breakout-image-right-caption-pair.html image_1_src='journal/krakow/krakow-1.jpg' image_1_alt='Galeria sign' image_2_src='journal/krakow/krakow-2.jpg' image_2_alt='Restaraunt sign' caption='Old style signs' %}

{% include breakout-image-right-caption-pair.html image_1_src='journal/krakow/krakow-3.jpg' image_1_alt='Bookshop sign' image_2_src='journal/krakow/krakow-4.jpg' image_2_alt='Restaraunt sign' %}

{% include breakout-image-right-caption-pair.html image_1_src='journal/krakow/krakow-9.jpg' image_1_alt='Restaraunt sign' image_2_src='journal/krakow/krakow-10.jpg' image_2_alt='Cafe' caption='New style signs' %}

{% include breakout-image-right-caption-pair.html image_1_src='journal/krakow/krakow-11.jpg' image_1_alt='Galeria sign' image_2_src='journal/krakow/krakow-12.jpg' image_2_alt='Cafe' %}

<p>Oh and they also had quite a few buildings with random designs on the side to, like this one here…</p>

{% include breakout-image-right-caption.html image_src='journal/krakow/krakow-5.jpg' image_alt='The side of the building has been painted' %}
