---
title: 'Lomography in Rome'
date: '2014-07-09 20:28:41 +0100'
tags:
- Photography
- Lomography
- Travel
description: I recently took my Diana F+ and lots of film to Rome with me, a lot of fun was had and I got some great photos.
thumbnail: journal/lomography-in-rome/rome-lomo-1.jpg
---

<p class="intro">I recently went on holiday to Rome, I had the best time ever. Before I got there though I had a bit of a drama – as you normally do when packing the night before you are due to catch your flight! </p>

<p>I grabbed hold of my camera and then went on a frantic hunt around the flat for the charger, which I still have not found by the way… I had to just give up in the end and I was devastated at the thought of not being able to take any photographs of my trip to Rome, I would literally feel naked without it. Then I saw my Diana F+ sat there, it is a good job I had plenty of film!</p>

<p>I easily used 4 rolls of film, one of which was the <a href="http://shop.lomography.com/gb/films/120-film/lomochrome-purple-400-120-5pack-new">LomoChrome Purple</a>. Since purple is my favourite colour I was super excited about this one and saved it for when I was going to be at the Colosseum. I thought shooting ruins in purple would be perfect.</p>

<p>Anyway here are some of the photos from the <a href="http://shop.lomography.com/gb/films/120-film/lomochrome-purple-400-120-5pack-new">LomoChrome Purple</a> film – super pleased with them!</p>

{% include breakout-image-below-caption-trio.html image_1_src='journal/lomography-in-rome/rome-lomo-1.jpg' image_1_alt='Colosseum' image_2_src='journal/lomography-in-rome/rome-lomo-3.jpg' image_2_alt='The Foreum' image_3_src='journal/lomography-in-rome/rome-lomo-4.jpg' image_3_alt='Roman ruins' %}

{% include breakout-image-below-caption-trio.html image_1_src='journal/lomography-in-rome/rome-lomo-5.jpg' image_1_alt='Sunset in Rome' image_2_src='journal/lomography-in-rome/rome-lomo-8.jpg' image_2_alt='The Foreum' image_3_src='journal/lomography-in-rome/rome-lomo-7.jpg' image_3_alt='Colosseum' %}

<p>If you want to see any of my other Lomography photos you can view them on my <a href="https://www.flickr.com/photos/donnacarter/sets/72157631179602804/">Flickr page.</a></p>



