---
title: 'Shoreditch Graffiti'
date: '2014-06-17 20:28:41 +0100'
tags:
- Design
- Art
- Website
- Graffiti
description: A new photo blog that I have started up to showcase all the graffiti & art in Shoreditch.
thumbnail: journal/shoreditch-graffiti/sg-4.jpg
---

<p class="intro">I commute to Shoreditch every day for work and every day I walk by a new piece of graffiti, ranging from the size of a train ticket all the way to scaling the side of a building! Very impressive stuff.</p>

<p>What I have noticed in the two years I have been working in Shoreditch is that these are constantly changing, some of the work changing after just a couple of weeks. So many people must not even see some of the awesome art/graffiti that is scattered around the area… </p>

<p>This then gave me the idea that it would be great to create a really simple blog (I decided to use Tumblr) where I could upload photos of the graffiti I find as and when I come across it. Thus creating an online gallery of graffiti in the area throughout the year.</p>

<p>You can visit the site at <a href="http://shoreditchgraffiti.co.uk">shoreditchgraffiti.co.uk</a> or follow on <a href="https://twitter.com/ShoreditchGraf">Twitter.</a> </p>

{% include breakout-image-below-caption.html image_src='journal/shoreditch-graffiti/sg-1.jpg' image_alt='Screenshot of Shoreditch Graffiti website' %}

{% include breakout-image-below-caption.html image_src='journal/shoreditch-graffiti/sg-2.jpg' image_alt='Screenshot of Shoreditch Graffiti website' %}

{% include breakout-image-below-caption.html image_src='journal/shoreditch-graffiti/sg-3.jpg' image_alt='Screenshot of Shoreditch Graffiti website' %}

