---
title: 'New business cards'
date: '2014-09-25 20:28:41 +0100'
tags:
- Print
- Typography
description: Re-designing my business cards was a fun little side project. This time every one of them is unique.
thumbnail: journal/new-business-cards/bc-group.jpg
---

<p class="intro">
  I never really have much use for business cards; I just really like to have them. You never know when they might come in handy I guess! I also thought it would be a fun little side project for me to distract myself with.
</p>

<p>
  My aim was to keep them simple and attractive (obviously), while trying out something that allowed me to get a bit creative. So I went and had my logo made into a stamp, bought a couple of ink pads… But what next? WELL Moo.com have a range of &ldquo;<a href="http://uk.moo.com/products/luxe/business-cards.html" target="_blank">Luxe Business Cards</a>&rdquo; which are really thick card – three times thicker to be exact - with a rich seam of colour which runs through the middle of the card. Perfect.
</p>

<p>
  Here are the results, I am super pleased with them and thoroughly enjoyed getting to play with the stamp!
</p>

{% include breakout-image-right-caption.html image_src='journal/new-business-cards/bc-group-top.jpg' image_alt='Group of business cards from the top' %}

{% include breakout-image-right-caption.html image_src='journal/new-business-cards/bc-group.jpg' image_1_alt='Business cards close up' %}

{% include breakout-image-right-caption.html image_src='journal/new-business-cards/bc-side.jpg' image_2_alt='Business cards from the side' %}

