---
layout: journal-post
title: 'Pick Me Up London 2014'
date: '2014-05-03 20:28:41 +0100'
categories:
- journal
tags:
- design
- art
- exhibition
thumbnail: journal/pick-me-up/pmu-8.jpg
---

{% include breakout-image-float-right-narrow.html image_src='journal/pick-me-up/pmu-8.jpg' image_alt='Puck Collective artwork display' caption='A display from <a href="http://www.puckcollective.co.uk">Puck Collective</a>' %}

<p class="intro">I have to admit, it has been a long time that I have been to any gallery or exhibition. This is mainly due to the fact that buying a flat and moving is really hard work and time consuming! After seeing a few tweets about <a href="http://pickmeuplondon.com">Pick Me Up</a> and remembering how much I wanted to go along last year, I decided to go along.</p>

<p>I wasn’t really sure what to expect, the event itself is at Somerset House, which is a pretty grand setting. As you walk in to the exhibition the first thing you see are an amazing collection of work from various international artists, these are the Pick Me Up Selects who have been specially selected by an industry panel.</p>

<p>My favourites within the Selects were <a href="http://www.juliapott.com">Julia Pott</a> – whose illustration style was really nice and refreshing, I loved the characters she has created. <a href="http://www.billyandalex.com">Billy</a> – whose bright, bold and boisterous prints were so full of energy they were practically jumping off the walls. Finally, last but not least I LOVED <a href="http://www.thibaudherem.com">Thibaud Herem</a> – his intricate, etch style drawings of various places of London literally blew my mind. So much attention to detail and perfectly straight lines, if I could afford I would certainly have one of his pieces on my wall.</p>

<p>Once through the Selects area (if you have managed not to blow all your money already) you head up some stairs to an even bigger area that is just so full of exciting things to see, do and buy it would take me all day to write about everything. Here are a few photos of various things that caught my attention…<p>

{% include breakout-image-below-caption-pair.html image_1_src='journal/pick-me-up/pmu-2.jpg' image_1_alt='Notebook shop' image_2_src='journal/pick-me-up/pmu-4.jpg' image_2_alt='Personalised bookplate' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/pick-me-up/pmu-5.jpg' image_1_alt='Artwork displayed as records' image_2_src='journal/pick-me-up/pmu-6.jpg' image_2_alt='Artwork on the wall for sale' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/pick-me-up/pmu-7.jpg' image_1_alt='Printed birthday cards' image_2_src='journal/pick-me-up/pmu-9.jpg' image_2_alt='Artwork on the wall for sale' %}

{% include breakout-image-float-right-narrow.html image_src='journal/pick-me-up/pmu-1.jpg' image_alt='The Artomatic' caption='The Artomatic <a href="http://www.artomatic.info">see more here</a>' %}

<p>I also managed to come away from the event with my own unique piece of art too! I signed myself and my partner up for a turn on the Artomatic, which is a really cool idea. It is just like a photo booth – a very cool and nicely designed photo booth, but with a difference. A mystery artist is sat in there waiting to draw your portrait!</p>

<p>As you step inside there is a little peephole where you can see a set of eyes glancing at you every other minute. After about 10-15 minutes someone lets you know it is done, then you stand outside and wait for your portrait to come though the slot in the side. This unique portrait is the final result…</p>

{% include breakout-image-below-caption.html image_src='journal/pick-me-up/pmu-11.jpg' image_alt='Portrait of me and Kevin' caption='Illustrated by <a href="http://www.margauxcarpentier.com">Margaux Carpentier</a>' %}

</p>I love it, I can’t wait to get it framed and on the wall. Ours was drawn by <a href="http://www.margauxcarpentier.com">Margaux Carpentier</a>, her work is beautiful. If you want to read more about Pick Me Up 2013 then check out their website: <a href="http://pickmeuplondon.com">pickmeuplondon.com</a></p> 





