---
title: 'Packaging Innovations 2014'
date: '2014-10-13 20:28:41 +0100'
tags:
- Print
- Packaging
description: A visit to the 2014 Packaging Innovation show at the Business Design Centre in Islington.
thumbnail: journal/packaging-innovation/pi-1.jpg
---

<p class="intro">
  <a href="http://www.easyfairs.com/events_216/packaging-innovations-london-2014_52077/packaging-innovations-london-2014_52078/">The Packaging Innovation</a> show at the <a href="http://www.businessdesigncentre.co.uk">Business Design Centre</a> is an annual event for printers and suppliers to showcase their innovations in packaging.
</p>

<p>
  A good friend of mine asked me if I wanted to pop along, which I thought would be a great idea. I had some packaging projects coming up at work, so could use some inspiration, and it’s always nice to have a catch up.
</p>

<p>
  I wasn’t sure what to expect. I have been to few trade shows but always as an exhibitor - never a guest! It started well with a free glass of champagne and a rather nicely embossed bag.
</p>

<p>
  There was so much to take in at the show and I didn’t get to take many photographs. Unfortunately quite a few of the stands didn’t allow photography (boo).
</p>

{% include breakout-image-below-caption-pair.html image_1_src='journal/packaging-innovation/pi-2.jpg' image_1_alt='Packaging on display at the show' image_2_src='journal/packaging-innovation/pi-3.jpg' image_2_alt='Packaging on display at the show' %}

<p>
  One stand that I thought was totally awesome and inspiring was the <a href="http://www.foilco.co.uk">Foilco</a> stand. I was given a design pack which included a bunch of shade cards to use as a reference for foil printing. This will be super helpful for me.
</p>

{% include breakout-image-right-caption.html image_src='journal/packaging-innovation/pi-1.jpg' image_alt='Examples of foil printing' caption='Examples of different coloured foil options.' %}

<p>
  I found the whole experience to be really inspiring. It was great to see so many innovative and exciting packaging ideas in one space. I will definitely be going next year and recommend anyone else who works with packaging to attend. You never know - you might meet your next supplier.
</p>
