---
title: 'Glug London'
date: '2014-11-13 23:12:00 +0100'
tags:
- Event
- Graphic-design
description: A design for a decaf addition to the Lyons Coffee retail range.
thumbnail: journal/glug-london/glug-2.jpg
---

<p class="intro">
  Recently I have wanted to make more of an effort to go out and meet like minded designers. Being in London, with such a big creative scene, you would think this would be easy to do! It turns out London is a pretty big place...
</p>

<p>
  Where do designers hang out? One place where I knew I could find some would be at <a href="http://www.glugevents.com">Glug</a> London. I have been to a couple of Glug events with friends and these were really fun nights. I got myself signed up to attend <a href="http://www.meetup.com/gluglondon/events/211788822/">The Creative Mashup event</a>.
</p>
<p>
  I really enjoyed the evening and found the talks to all be inspiring. You get a free beer on arrival and there was a hosting company called Nimbus Hosting who had actually set up a pick &amp; mix stand where you could help yourself to free sweets – winning!
</p>

{% include breakout-image-right-caption.html image_src='journal/glug-london/glug-1.jpg' image_alt='Pick and mix stand' %}

<p>
  Unfortunately I found that a combination of loud music and lots of groups made it difficult to find people to make conversation with. Nevermind, I will try harder next time, or drink more beer.
</p>
<p>
  The three presentations that really wowed me were Margaux Carpentier, Ben Rider and Alex Myers. These people are so awesome!
</p>
<p>
  <a href="http://www.margauxcarpentier.com">Margaux Carpentier</a> is an illustrator and print maker based in East London; she works both independently and with Animaux Circus. She has a love of animals and bright colours, which really shine through in all of her work. I have actually mentioned her in a previous blog post; she was the secret artist who created my portrait in the Artomatic at Pick Me Up earlier this year. Margaux talked us through her inspirations and process, which was super interesting.
</p>

{% include breakout-image-float-right.html image_src='journal/glug-london/glug-2.jpg' image_alt='Heisenburg Christmas card' caption='The Heisenburg Christmas card' %}

<p>
  <a href="http://www.benrider.com">Ben Rider</a> describes himself as a “fluorescent ink obsessed print mercenary”. He likes to pick random rubbish off the floor and keeps this together with old newspaper/magazine clippings in a big sketchbook for later inspiration. He came across as a cool and funny guy with a bit of crazy streak. He talked us through one of his projects and the print process he used, it turns out I actually own one his prints and didn’t realize it! He was the guy who used a very unique print method to create his illustration of Walter White aka Heisenburg, these were turned into novelty Christmas cards last year. I got one of these for free and intend to have it framed so I can pop it on the wall. So cool.
</p>
<p>
  Alex Myers is director and co-founder of <a href="http://www.manifestlondon.co.uk">Manifest</a> London – a PR/communications agency. They work closely with brands to help them grow and develop using social media to their advantage. I am normally quite skeptical of PR companies because I have had bad experiences with them in the past – however, Manifest were definitely an exception.
</p>
<p>
  Alex mainly talked about one of their first clients, Brewdog. I was instantly interested as I am partial to craft beer and Brewdog are one of my favourites. They worked with them from when they were a tiny company - who brewed in a small garage - whereas now they are a major international brand. Manifest helped them grow and came up with fantastic ideas to help get them noticed. One of which was the strongest craft beer ever that was presented in a <a href="http://www.brewdog.com/blog-article/341">bottle embedded in a preserved squirrel</a>! I remember that doing the rounds on the Internet for a while.
</p>
<p>
  Anyway – enough rambling. If you are a designer or creative of any kind, these are great value events that are really worth attending.
</p>




