---
title: 'Brew-Dolf'
date: '2014-12-08 16:00:00 +0100'
tags:
- Print
- Packaging
- Graphic-design
description: Where do designers hang out? One place where I knew I could find some would be at Glug London.
thumbnail: journal/brew-dolf/brew-dolf-front.jpg
---

<p class="intro">
  For those of you that know me, I REALLY love Christmas! I was asked to come up with a design for a Christmas themed coffee to be sold on the <a href="www.makedecentcoffee.com">Make Decent Coffee</a> website – best job ever?
</p>

<p>
  The brief was to design something that people would like to give as a stocking filler for coffee lovers, something simple, fun and most of all Christmassy!
</p>

<p>
  After a long time thinking of potential names for the coffee that wasn’t too cheesy, it was decided that “Brew-Dolf Coffee” would be the chosen one. A pun on brew &amp; Rudolf, get it?
</p>

{% include breakout-image-below-caption.html image_src='journal/brew-dolf/brew-dolf-front.jpg' image_alt='The final bag design' caption='The final product that you can buy at <a href="https://www.makedecentcoffee.com/coffee/ethiopia-brewdolph-coffee">www.makedecentcoffee.com</a>' %}

<p>
  As with all MDC coffees the packaging was to be a kraft bag that has stickers applied to it by hand. I thought it would be quite fun to just keep the front simple and have a simple red nose – after all that is what everyone thinks of when they think of Rudolph don’t they?
</p>

<p>
  We would also need the name of the coffee on there too, so we stuck with the MDC font (a little nod to the brand) and had a stamp made. Another sticker on the back has all the information about the coffee, all of these are applied to the kraft bag before packing the freshly roasted coffee.
</p>

{% include breakout-image-right-caption.html image_src='journal/brew-dolf/brew-dolf-back.jpg' image_alt='The label on the back of the pack' %}

{% include breakout-image-right-caption-pair.html image_1_src='journal/brew-dolf/brew-dolf-front-macro.jpg' image_1_alt='Close up of the stamped name on the front of the bag' image_2_src='journal/brew-dolf/brew-dolf-front-macro2.jpg' image_2_alt='Cute cocker spaniel' %}

<p>
  The bag looks great and the coffee tastes amazing, the perfect gift for any coffee fan… I hope Christmas never ends!
</p>

