---
title: 'Family, Festivals and Change'
date: '2015-08-08 16:00:00 +0100'
tags:
- Jobs
- Graphic Design
- Update
description: Winning a cute little hand printed zip pouch from a very talented artist.
thumbnail: journal/family-festivals/mum-and-kevin.jpg
---

<p class="intro">
  Wow. It has been a long time since I have updated this blog. You might be wondering what I have been up to so I thought I would give you an update…
</p>

<p>
  Firstly - I had my mum visit from Australia. Trying to entertain family for 3 weeks is really hard work. We had lots of fun though doing tourists in London.
</p>

{% include breakout-image-right-caption.html image_src='journal/family-festivals/mum-and-kevin.jpg' image_alt='My mum and Kevin waiting patiently for their food' caption='Mum and Kevin patiently waiting for their food to arrive!' %}

<p>
  During her stay my life was also taken over by the <a href="http://www.londoncoffeefestival.com">London Coffee Festival.</a> It is one of the biggest events in the UK coffee calendar and I was responsible for the design and running of the <a href="http://threesixtycoffee.co.uk">ThreeSixty Coffee</a> stand. 2015 was the first year that <a href="http://threesixtycoffee.co.uk">ThreeSixty Coffee</a> had a presence at the event (taking over the Make Decent Coffee stand) to help launch their new web presence.
</p>

{% include breakout-image-below-caption-trio.html image_1_src='journal/family-festivals/lcf-pass.jpg' image_1_alt='London Coffee Festival Pass' image_2_src='journal/family-festivals/lcf-group.jpg' image_2_alt='The ThreeSixty team' image_3_src='journal/family-festivals/lcf-stand.jpg' image_3_alt='The ThreeSixty stand' %}

<p>
  Finally, and most importantly, I have started a new job! A few months ago I joined the team at <a href="http://www.bubbletcosmetics.com">Bubble T Cosmetics</a> based in Highgate, North London. Bubble T Cosmetics has a range of exciting bath and body products based around the flavours of tea. As a lover of baths - I think we are going to be a good match.
</p>

{% include breakout-image-right-caption.html image_src='journal/family-festivals/highgate.jpg' image_alt='The view fram Waterlow Park in Highate' caption='The view fram <a href-"http://www.waterlowpark.org.uk">Waterlow Park</a> in Highate where I sit and eat my lunch.' %}


<p>
  Two fashion brands also operate within the Bubble T Cosmetics company; <a href="http://www.havren.co.uk">Havren</a> and <a href="http://www.nougatlondon.co.uk">Nougat.</a> Both of these sell products in department and via their respective websites. With my previous experiences in e-commerce I’m keen to help improve their websites and the internal workflows.
</p>

<p>
  So lots of change for me. I have traded a huge company to be part of a small team, fashion and cosmetics instead of coffee, and the grime of Shoreditch for the calm of Highgate. It’s an exciting change and I’m really looking forward to pushing my skills to help develop these brands and companies further.
</p>
