---
title: 'Bubble T Christmas range for BHS'
date: '2015-12-07 16:00:00 +0100'
tags:
- Packaging
- Graphic Design
- Christmas
description: A new Bubble T Christmas gift set to be launched in BHS.
thumbnail: journal/bhs/bhs-macaroon-box.png
---

<p class="intro">
  One of the first tasks at Bubble T Cosmetics was to design the packaging for a Bubble T product range to be launched in <a href="http://www.bhs.co.uk" alt="British Home Stores">BHS</a> in time for Christmas.
</p>

<p>
  Paul - the owner and creator of <a href="http://bubbletcosmetics.com" alt="Bubble T Cosmetics">Bubble T Cosmetics</a> - already knew what he wanted the range to be: three additional new products to the Bubble T range that would include the classic fragrances and one limited edition fragrance exclusive to BHS. These products would be a shower gel bauble themed gift set, a macaroon lip balm gift set and a shower jelly gift set.
</p>

<p>
  The packaging style had been picked by Paul and he supplied me with the templates to start mocking up some designs. Bubble T is already a well established brand and already has a fun and energetic feel to it. I wanted to use this opportunity to play with the existing conventions and make some subtle improvements.
  My challenge was to take this usual brand &amp; packaging style and improve it.
</p>

{% include breakout-image-below-caption.html image_src='journal/bhs/bubble-t-templates.jpg' image_alt='Templates' caption='Screenshot of the templates for the new packaging' %}

<p>
  With this in mind I started working up some designs, mainly focussing on the typography and establishing this as a new range, without straying too far from the current Bubble T collection.
</p>

{% include breakout-image-right-caption.html image_src='journal/bhs/gift-sets.jpg' image_alt='Group shot of the current Bubble T Gift Set Collection' caption='The current Bubble T Gift set collection.' %}

<p>
  I started with how I could make simple but subtle improvements to the front of the label. One of the main things I wanted to achieve was to create a better sense of hierarchy within the typography, I felt this would make the label clearer and easier to read.
</p>

<p>
  The text size on the original label was only around 6pt and super hard to read so making the copy bigger was essential. I decided the best way to create space to allow me to do this would be to break all of the copy out from the inside of the bubble, this would make it less restrictive. Then I minimised the amount of decorative bubbles on the front of the label.
</p>

{% include breakout-image-below-caption-pair.html image_1_src='journal/bhs/bhs-old-label.png' image_1_alt='Current label design' image_2_src='journal/bhs/bhs-new-label.png' image_2_alt='New label design' caption='Left: Current labels, Right: New label design' %}

<p>
  I also introduced some capital letters to the copy too because reading all lower case text with no capital letters is actually quite hard on people's eyes! Making these subtle changes has greatly improved the appearance and legibility of the label, making it visually more appealing and the bold colours really stand out.
</p>

<p>
  The outer packaging was a little easier, there wasn’t too much that needed changing and it was more about making sure the design fit in with the current Bubble T brand but also looked slightly different at the same time.
</p>

{% include breakout-image-below-caption.html image_src='journal/bhs/bhs-old-packaging.png' image_alt='An example of the current gift range' caption='An example of the current gift set range. The back of the pack looks particularly crowded and difficult to read.' %}

<p>
  Again similar with what I did with the labels, I wanted to neaten up the copy, add sentence case, increase text size where possible and try to create the feeling that there is more space. We also needed to introduce a 4th bubble colour to represent the new fragrance included in the gift set.
</p>

{% include breakout-image-below-caption.html image_src='journal/bhs/bhs-new-packaging.png' image_alt='An example of the current gift range' caption='The new gift set design for BHS.' %}

<p>
  I think it was a subtle but great improvement to the original design. Why not <a href="/work/bubble-t-at-bhs/" alt="Bubble T at BHS">view the whole collection.</a>
</p>


