---
title: 'Rhian Mclaren Competition'
date: '2015-03-20 16:00:00 +0100'
tags:
- Screen Printing
- Graphic-design
- Patterns
description: Winning a cute little hand printed zip pouch from a very talented artist.
thumbnail: journal/rhian-pouch/rhian-pouch2.jpg
---

<p class="intro">
  Quite a while ago now I entered an instagram competition to win a cute little hand printed zip pouch, to my surprise I won - YAY!
</p>

<p>
  This was just before Christmas and I am only just getting around to writing about it now, terrible I know but I have found myself really busy. Anyway… I really just wanted to give her a bit of a shout out - because everyone needs one of her prints in their home, but mostly a big thank you.
</p>

{% include breakout-image-below-caption.html image_src='journal/rhian-pouch/rhian-pouch3.jpg' image_alt='The Zip Pouch' %}

<p>
  The zip pouch is amazing, Rhian creates beautiful patterns and then screen prints them herself on to fabric which she then turns into all sorts of things like cushions. The pattern on the zip pouch I won is of a tropical fish, which is great for me as I have tropical fish!
</p>

{% include breakout-image-right-caption.html image_src='journal/rhian-pouch/rhian-pouch2.jpg' image_alt='Tropical fish pattern' caption='Get a closer look at the tropical fish pattern' %}

<p>
  She is such an inspiration, I am pretty certain she does all of this in her spare time around her full time job too! Here is a quote from her website which I believe sums up what she does...
</p>

<blockquote>
  <p>My work is an exploration of shape and form, manipulating line to create pattern from the everyday. Working from photographs, my work is graphic in design, but softened through the use of traditional screen printing.</p>
  <footer><cite><a href="http://rhianmclaren.co.uk/about/">Rhian Mclaren</a></cite></footer>
</blockquote>

<p>
  After reading this, even I have started paying more attention to the shapes and patterns you see all around.
</p>

<p>
  Check out her website at <a href="http://rhianmclaren.co.uk">http://rhianmclaren.co.uk</a> to find out more about what she does or to buy any of her products.
</p>

<p>
  Thanks for being awesome Rhian.
</p>
