---
title: 'Cutter Guides'
date: '2015-01-27 16:00:00 +0100'
tags:
- Print
- Graphic-design
description: Having fun creating a new cutter guide for a print project.
thumbnail: journal/cutter/coopers-folder3.jpg
---

<p class="intro">
  Something I find weirdly enjoyable is creating my own cutter guides! I quite often find myself working with cutter guides when I get asked to create a design for some packaging, but I normally get supplied with them and never get to draw my own.
</p>

<p>
  Recently I got to design a nice little folder that would hold a collection of Coopers printed materials for the sales team to leave behind with potential customers.
</p>

<p>
  The Coopers brand is very colourful, fun and natural so I had a meeting with my usual printer guy - George - to discuss my options. I wanted to go with a nice craft card that would really make the beautifully coloured Coopers materials “pop”.
</p>

<p>
  We talked dimensions, type and thickness of craft card then I went away to produce the cutter guide. I can’t explain why I love doing this, I just do!
</p>

{% include breakout-image-below-caption.html image_src='journal/cutter/coopers-folder.jpg' image_alt='The cutter guide for the folder' image_border=true %}

<p>
  Next the design… This I wanted to keep really basic so simply had the Coopers logo on the front with all the contact details on the back. I thought it would be a nice touch to have a couple of slits on the inside that could hold a business card.
</p>

<p>
  I really enjoyed this fun little project, where I could get more creative with my print work. I hope you like the result – the sales guys were pretty happy with them!
</p>

{% include breakout-image-right-caption.html image_src='journal/cutter/coopers-folder4.jpg' image_alt='The front of the Coopers folder' %}

{% include breakout-image-right-caption.html image_src='journal/cutter/coopers-folder5.jpg' image_alt='Inside the Coopers folder' caption='An example of a few things that could be inside the folder.' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/cutter/coopers-folder2.jpg' image_1_alt='Contact details on the back of the folder' image_2_src='journal/cutter/coopers-folder3.jpg' image_2_alt='Literature inside the folder' %}
