---
title: 'Finding job satisfaction'
date: '2017-04-16 16:00:00 +0100'
tags:
- Jobs
- Graphic Design
description: This is my search for job satisfaction. What do I want to get out of my career?
thumbnail: journal/job-satisfaction/sketches.jpg
---

<p class="intro">
  Speaking to people I often find that they are not happy in their job, which I find a little bit sad because I believe you should enjoy what you do. After all you spend most of your week at work so that would mean you are spending most of your time unhappy. I guess maybe some people have not found what it is that they actually want to do, for myself I knew from an early age I knew that I wanted to be a graphic designer.
</p>

<p>
  I remember choosing the Graphic Design course at school over Design Technology, admittedly at the time it was mainly because I was scared of using all of the machinery and thought this would be the easier option. After the first lesson I fell in love and knew this was what I wanted to do.
</p>

<p>
  Every step I have ever taken in my life has been towards the goal - going to college, going to university and then finally landing my first job as an in-house Graphic Designer. Mission accomplished right? Wrong, I would find that after a few years I would start to get itchy feet, something was not quite right. Being the only designer in a small organisation was a struggle, there were no options for progression in my career or to grow my skills further by learning from my peers. The unhappiness slowly started to set in and I decided I needed to do something to fix this.
</p>

{% include breakout-image-right-caption.html image_src='journal/job-satisfaction/london.jpg' image_alt='A view of London from the London Eye' %}

<p>
  The next step in my career was a move to the big smoke to join a small team of designers working for a very large company. As far as I was concerned this was the dream, everything I wished for, a team I could bounce ideas off, talented colleagues to learn from and interesting projects to work on! As an added bonus, living in London is one of the most inspirational places, there are always fun things to do and great friends to hang out with - so this is happiness.
</p>

<p>
  Sadly, this wasn’t to last. Business demands led to late nights and stressful days with little appreciation for the effort put in. Over time this wore the team down leading to a couple of departures and we were no longer a creative team - I was finding myself becoming the lone designer again, albeit in a much bigger company. This began to make me unhappy with the direction my career was heading in.
</p>

{% include breakout-image-float-right.html image_src='journal/job-satisfaction/battersea-dogs-and-cats.jpg' image_alt='Battersea Dogs &amp; Cats Home' caption='Battersea Dogs &amp; Cats Home' %}

<p>
  I had been keeping my eyes open for any job that catches my eye that might be a more interesting option, maybe trying to join a design agency rather than an in-house team? Then I saw something that excited me, more excited then I have ever been about a job ever: Battersea Dogs &amp; Cats Home are advertising for a Graphic Designer. Everything about the position sounds like my dream job and it would also mean that everything I do would be contributing to an amazing charity! So what is holding me back, why am I hesitating to apply?
</p>

<p>
  Taking this job would mean taking a pay cut, I guess the decision was, what do I value most in a job? After a long hard think I decide to follow my heart, if I am this excited when I think about the job imagine how happy I would be if I actually got the job. I applied and kept everything crossed.
</p>

<p>
  Happiness is what I chose - this is what I want from life - I got the job, nothing short of a miracle in my eyes, and I am now enjoying a great work/life balance. I’m happy with everything I get to work on and have made some amazing friends too. It also turns out that having dogs in the office does help relieve stress - albeit at the expense of productivity.
</p>

<blockquote>
  <p>
    This has been the best decision I have ever made, I would recommend being happy in your job over money and stress any day. It is important to do what makes you happy.
  </p>
</blockquote>

{% include breakout-image-right-caption.html image_src='journal/job-satisfaction/me-with-dogs.jpg' image_alt='A view of London from the London Eye' %}
