---
title: 'Lomography in Barcelona'
date: '2017-10-13 16:00:00 +0100'
tags:
- Lomography
- Travel
- Photography
description: Another trip with my Diana F+ camera, this time to Barcelona.
thumbnail: journal/lomography-in-barcelona/barcelona-thumb.jpg
---

<p class="intro">
  Travelling with my Diana camera is now becoming tradition, so naturally I took it with me when I visited Barcelona for the first time ever.
</p>
<p>
  It was a bit of a crazy time in Barcelona whilst we were there because the Catalonians were fighting for their independence and we found ourselves staying right in the middle of all the action. Despite this we managed to make the most of this most amazing city, there is so much to see and do. Naturally we went to see the Sagrada Família, toured around all of Gaudí’s buildings and ate all of the tapas!
</P>
<p>
  I took with me a couple of rolls of Black and White film and a random roll that I found at the back of my drawer. Below are some of the best photos - I really need to get better at working this camera.
</p>

{% include breakout-image-below-caption-pair.html image_1_src='journal/lomography-in-barcelona/barcelona-bw-1.jpg' image_1_alt='Cute dog with present' image_2_src='journal/lomography-in-barcelona/barcelona-bw-2.jpg' image_2_alt='Cute cocker spaniel'  %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/lomography-in-barcelona/barcelona-bw-3.jpg' image_1_alt='Cute dog with present' image_2_src='journal/lomography-in-barcelona/barcelona-bw-4.jpg' image_2_alt='Cute cocker spaniel' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/lomography-in-barcelona/barcelona-bw-5.jpg' image_1_alt='Cute dog with present' image_2_src='journal/lomography-in-barcelona/barcelona-bw-6.jpg' image_2_alt='Cute cocker spaniel' caption='Film: Earl Grey B&W 120 ISO 100' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/lomography-in-barcelona/barcelona-1.jpg' image_1_alt='Cute dog with present' image_2_src='journal/lomography-in-barcelona/barcelona-2.jpg' image_2_alt='Cute cocker spaniel' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/lomography-in-barcelona/barcelona-3.jpg' image_1_alt='Cute dog with present' image_2_src='journal/lomography-in-barcelona/barcelona-4.jpg' image_2_alt='Cute cocker spaniel' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/lomography-in-barcelona/barcelona-5.jpg' image_1_alt='Cute dog with present' image_2_src='journal/lomography-in-barcelona/barcelona-6.jpg' image_2_alt='Cute cocker spaniel' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/lomography-in-barcelona/barcelona-7.jpg' image_1_alt='Cute dog with present' image_2_src='journal/lomography-in-barcelona/barcelona-8.jpg' image_2_alt='Cute cocker spaniel' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/lomography-in-barcelona/barcelona-9.jpg' image_1_alt='Cute dog with present' image_2_src='journal/lomography-in-barcelona/barcelona-10.jpg' image_2_alt='Cute cocker spaniel' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/lomography-in-barcelona/barcelona-11.jpg' image_1_alt='Cute dog with present' image_2_src='journal/lomography-in-barcelona/barcelona-12.jpg' image_2_alt='Cute cocker spaniel' %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/lomography-in-barcelona/barcelona-13.jpg' image_1_alt='Cute dog with present' image_2_src='journal/lomography-in-barcelona/barcelona-14.jpg' image_2_alt='Cute cocker spaniel' %}
