---
title: 'Sketching Tour of the Tate'
date: '2017-11-15 16:00:00 +0100'
tags:
- Art
- Sketching
description: I went on a sketching course at the Tate Modern, have a look at some of my sketching.
thumbnail: journal/sketching-tour/sketching-thumb.jpg
---

<p class="intro">
  Earlier this year I became a member of Tate and I discovered that they provide much more than galleries. They provide lots of interesting classes and experiences, the one that caught my eye was a Sketching Tour by <a href="http://www.sarahsparkes.com/index.html">Sarah Sparkes</a>.
</p>

<p>
  After a lot of encouragement I decided to sign up - I hadn’t drawn or sketched anything for a very long time. With the modern conveniences of technology, and the speed of which I work, it is rare for me to start a design with pen and paper - normally opting for producing initial concepts on a computer. Feeling somewhat rusty I was nervous about getting out a pencil in front of a group of people and sketching!
</p>

<p>
  On arrival we were handed a sketchbook and some pencils, a large group of us then sat around and introduced ourselves. Everyone was super friendly and almost everyone was in a similar situation to myself: simply wanting to get back into sketching and learn new techniques.
</p>

<p>
  Each session we would be taken into a different section of Tate Modern and we would spend time sketching various objects or paintings. Sarah took us through different techniques and was very encouraging, she made us realise that we don’t have to worry about what anyone else thinks of our work and to be experimental. I was soon filling up my sketchbook and was in need of a new one.
</p>

<p>
  One technique - also my favourite - was blind contour drawing. We would push our pencil through the middle of a sheet of A4 paper and then draw the subject without being able to see where we were putting our pencil on the page. I loved the outcome of these sketches.
</p>

{% include breakout-image-below-caption-pair.html image_1_src='journal/sketching-tour/sketching-blind.jpg' image_1_alt='Blind sketching' image_2_src='journal/sketching-tour/sketching-blind2.jpg' image_2_alt='Blind sketching' caption='Blind contour drawings' %}

<p>
  Another interesting technique was using a continuous line. We would sketch without removing the pencil from the page which had curious results. Usually we would be timed and only have around 3 seconds to do each sketch.
</p>

{% include breakout-image-below-caption-pair.html image_1_src='journal/sketching-tour/sketching-line.jpg' image_1_alt='Continuous line sketching' image_2_src='journal/sketching-tour/sketching-line2.jpg' image_2_alt='Continuous line sketching' caption='Continuous line sketches' %}

<p>
  On some evenings we got together as a group to work on some really experimental pieces, literally sticking objects and coloured paper all over various areas of Tate Modern! It would have looked crazy to anyone walking by and I found this the toughest exercise of all. When faced with a giant piece of paper and endless amounts of materials to use I was feeling overwhelmed. I did need some guidance to start but once I was going I seemed to loosen up a bit.
</p>

{% include breakout-image-below-caption.html image_src='journal/sketching-tour/sketching-group-work.jpg' image_alt='A panorama of a group task' %}

<p>
  As you can see from the photos there were some pretty creative outcomes from all the various groups. It was a hugely enjoyable course and I would definitely do more. They have a wide variety of courses and evening experiences available which you can find them on their <a href="https://www.tate.org.uk/whats-on?daterange=fromnow&event_type=courses">website</a>.
</p>

<p>
  Here are some of my favourite sketches that I did on the course...
</p>

{% include breakout-image-right-caption.html image_src='journal/sketching-tour/sketching-favourite1.jpg' image_alt='Perspective sketch' %}
{% include breakout-image-right-caption.html image_src='journal/sketching-tour/sketching-favourite2.jpg' image_alt='Large sketch on coloured paper' %}
{% include breakout-image-right-caption.html image_src='journal/sketching-tour/sketching-favourite3.jpg' image_alt='Emotive sketch' %}
{% include breakout-image-right-caption.html image_src='journal/sketching-tour/sketching-favourite4.jpg' image_alt='Combined sketches on a window' %}
