---
title: 'Lomography in Amsterdam'
date: '2018-09-20 16:00:00 +0100'
tags:
- Lomography
- Travel
- Photography
description: Another trip with my Diana F+ camera, this time to Amsterdam.
thumbnail: journal/lomography-in-amsterdam/amsterdam-thumb.jpg
---

<p class="intro">
  The really disappointing thing about analogue photography is that it does quite often go wrong, but is that a bad thing or does it add character to the photographs?
</p>
<p>
  I was using my favourite film - lomochrome purple, but I had problems loading the film. It kept catching on the spindle and I had to keep taking the back off slightly to wind it on. This led to a lot of light leakage on the photographs that survived and also lots of photographs not coming out at all. Here is what survived, the light leakage does add some charm to the photos but the purple doesn't really come out at all.
</p>
<p>
  Aparently this is a really common problem with Diana cameras, maybe I need to re-think my camera choice...
</p>

{% include breakout-image-below-caption-pair.html image_1_src='journal/lomography-in-amsterdam/amsterdam-1.jpg' image_1_alt='Buidings in Amsterdam' image_2_src='journal/lomography-in-amsterdam/amsterdam-2.jpg' image_2_alt='Tall buildings in Amsterdam'  %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/lomography-in-amsterdam/amsterdam-3.jpg' image_1_alt='Buidings in Amsterdam' image_2_src='journal/lomography-in-amsterdam/amsterdam-4.jpg' image_2_alt='Tall buildings in Amsterdam'  %}

{% include breakout-image-below-caption-pair.html image_1_src='journal/lomography-in-amsterdam/amsterdam-5.jpg' image_1_alt='Buidings in Amsterdam' image_2_src='journal/lomography-in-amsterdam/amsterdam-6.jpg' image_2_alt='Tall buildings in Amsterdam'  %}
