h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-serif;
}

a {
  transition: color .25s ease-in-out, background-color .25s ease-in-out;
  color: $very-dark-grey;
  &:focus, &:hover, &:active {
    text-decoration: none;
    color: $main-purple;
  }
  -webkit-tap-highlight-color: rgba($main-purple, $tap-highlight-opacity);
  outline: 0;
}

h1 {
  font-size: 260%;
}

h2 {
  font-size: 215%;
}

h3 {
  font-size: 170%;
}

h4 {
  font-size: 125%;
}

h5 {
  font-size: 100%;
}

h6 {
  font-size: 85%;
}

p {
  margin: 0 0 $line-height-computed;
}

blockquote {
  margin-left: 1.5em;
  border-width: 4px;
  font-size: 110%;
  &.blockquote-reverse {
    margin-left: 0;
  }
  footer {
    font-size: 80%;
  }
}

hr.already-padded {
  margin: 0;
}
